<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>adjustmentBaseVersion</key>
	<integer>0</integer>
	<key>adjustmentData</key>
	<data>
	bVDLbsJADPwXn1MUQqBobxVSVS5FaqX2UPVgEifZah/RrgNFiH+vkxDEoTdrPB7PzBks
	MZbICOoMFiNTeCFdNwxqvlyskiv2qUtuQGVpvk7AB02OkbV3wrokUPlgkT8oxBFK4DDO
	W1f5XnjfaVO+dnZPARTMH5/XKSSAbXu7gXwhSCwasvhGBz2iaQKtQe71haJ37yDfsPzp
	IluxEEF9nf/5Tg73hkpQHDoSVWLWro69kxMeB1nJUGuHZhN8C6pCE4X4uxtQUHkmKtFi
	4NvuODYwz7NlAqeJmGXC44B9Y+SeXG0I1IPoY8f+dttMjeYr4RfeDSeOp6bTe/BadR9d
	c9FPklmXEldXeuhv8Dy1vr3fFN7OpFVDs7bxYuDyffkD
	</data>
	<key>adjustmentEditorBundleID</key>
	<string>com.apple.mobileslideshow</string>
	<key>adjustmentFormatIdentifier</key>
	<string>com.apple.photo</string>
	<key>adjustmentFormatVersion</key>
	<string>1.4</string>
	<key>adjustmentTimestamp</key>
	<date>2021-11-23T19:30:25Z</date>
</dict>
</plist>
