<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>adjustmentBaseVersion</key>
	<integer>0</integer>
	<key>adjustmentData</key>
	<data>
	bZDNTsNADITfxedQpS0BKTeEKtELlUCCA+LgJk5itD/RrtNSVX13vElb9cDN+jz22HME
	S4I1CkJ5BItRKLwQt51AOV/meXZmn1xLp2heKPKByQkKe6folEHjg0X5oBAnlMFuqteu
	8WnxdmBTvw52SwFKmD+uFg8LyAD7/joE90slserI4hvteKLq1huUZKAS3ryD2mH9M0Sx
	ekOE8uv4jz053BqqoZQwkG4lEXZtTKcccD+u1Sdadmieg++hbNBEFf5uRjoKosUg187+
	NoDDRXaXdBIwBUbuybWGJoiD+Otsdw60WBYZVN6NE04uOee38Bx0+pulSpU+zLX+yg2P
	6Y0HXzJf33Yqb2caqaFZ33n1P32f/gA=
	</data>
	<key>adjustmentEditorBundleID</key>
	<string>com.apple.mobileslideshow</string>
	<key>adjustmentFormatIdentifier</key>
	<string>com.apple.photo</string>
	<key>adjustmentFormatVersion</key>
	<string>1.4</string>
	<key>adjustmentTimestamp</key>
	<date>2021-11-23T19:31:11Z</date>
</dict>
</plist>
