<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>adjustmentBaseVersion</key>
	<integer>0</integer>
	<key>adjustmentData</key>
	<data>
	bZAxT8NADIX/i+cQXdKiNrcBC12oBBIMiMFNnORQ7i66c1qqqv8dJ2krBjbr2X5+/k5g
	ibFCRtAnsBiZwjOZpmXQC5Uvk4v2YSpuQS/VIk/AB0OOkY13oLNzArUPFvmdQpylBPZz
	vXG1H413g+mql8HuKICGbP1Y5JAA9v1tBxarLE9VmmdKOrFsyeIr7c3cVQn0HfJ4R0bN
	9g3kKlbfQ2QrUSLoz9M/KcjhrqMKNIeBxJWYjWvimOiIh8lWfmmMw+4p+B50jV2UwZ/t
	pIqHWt3LnsXAt+ZhRpEVa6FzvE4uc7kXOeDIjtyDazoCfScXcGB/W24vbLOiEOPSu2nF
	8ZW5+iteoI/PGy7HSr42lTxsajORnFJf+W/+dkpvU+HbUdq3XgKcv86/
	</data>
	<key>adjustmentEditorBundleID</key>
	<string>com.apple.camera</string>
	<key>adjustmentFormatIdentifier</key>
	<string>com.apple.photo</string>
	<key>adjustmentFormatVersion</key>
	<string>1.4</string>
	<key>adjustmentTimestamp</key>
	<date>2021-11-23T19:29:59Z</date>
</dict>
</plist>
