<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>adjustmentBaseVersion</key>
	<integer>0</integer>
	<key>adjustmentData</key>
	<data>
	YnBsaXN0MDDUAQIDBAUGGBlYJHZlcnNpb25YJG9iamVjdHNZJGFyY2hpdmVyVCR0b3AS
	AAGGoKUHCA8QEVUkbnVsbNMJCgsMDQ5fEBNDcm9wSW5mb0N1cnJlbnRSZWN0ViRjbGFz
	c18QEUNyb3BJbmZvVG90YWxTaXplgAOABIACW3s3NjgsIDEwMjR9XxAae3sxMiwgNzcu
	NX0sIHs3NDEuNSwgNzQzfX3SEhMUFVokY2xhc3NuYW1lWCRjbGFzc2VzXxAdU1NTU2Ny
	ZWVuc2hvdE1vZGlmaWNhdGlvbkluZm+iFhdfEB1TU1NTY3JlZW5zaG90TW9kaWZpY2F0
	aW9uSW5mb1hOU09iamVjdF8QD05TS2V5ZWRBcmNoaXZlctEaG1Ryb290gAEACAARABoA
	IwAtADIANwA9AEMASgBgAGcAewB9AH8AgQCNAKoArwC6AMMA4wDmAQYBDwEhASQBKQAA
	AAAAAAIBAAAAAAAAABwAAAAAAAAAAAAAAAAAAAEr
	</data>
	<key>adjustmentEditorBundleID</key>
	<string></string>
	<key>adjustmentFormatIdentifier</key>
	<string>ScreenshotServices</string>
	<key>adjustmentFormatVersion</key>
	<string>1.0</string>
	<key>adjustmentTimestamp</key>
	<date>2021-11-23T19:30:49Z</date>
</dict>
</plist>
