<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>adjustmentBaseVersion</key>
	<integer>1</integer>
	<key>adjustmentData</key>
	<data>
	YnBsaXN0MDDUAQIDBAUGBwpYJHZlcnNpb25ZJGFyY2hpdmVyVCR0b3BYJG9iamVjdHMS
	AAGGoF8QD05TS2V5ZWRBcmNoaXZlctEICV8QEkFLQ29tcHJBcmNoaXZlUm9vdIABpwsM
	FxgZGhtVJG51bGzTDQ4PEBMWV05TLmtleXNaTlMub2JqZWN0c1YkY2xhc3OiERKAAoAD
	ohQVgASABYAGXkFLQ29tcHJTaXplS2V5XkFLQ29tcHJEYXRhS2V5ERAVTxENwP03elha
	AAAA/xLZQQPAihuVICEBFgAAAOIJb17gEBQNgl0AMRwJvB5/TagVfFs4MUsnqUVduvQM
	eqxMX69Par8EMg7YWIOMCKVTy1OA9Jhtgv9b8H60ptjecnNNRwfoGIxVLJOmCyzUDjet
	qYQXUtNbhmu131fisCCI70i2e3SrkRMzz7HRWSBqGfESgW7qX0i3VElziJ1nYIhuVAA7
	IqhRptSecfrTuyiGj0CxdtZXPgcALV7Zre0TcfsFngIRcCFVzbo9idfr7/Mp65/fyqNL
	ffwYvoeO+EfPf+iKf/rhLW4w3ldTYZ/ZNzMtJ2+lo64cjkgRdcI1lo0JWXZRRNMEgvh8
	uD9JZT3cJOcsHGKa51pQZOx9RQgX/QyuHUs3YhB5AH8h0W25T/yYXdAwHxO5PCgUt3TS
	0KwuR7PHwDjled6aKkwzuYh7Ck3hXaT+nyURAlvoT68kYVVQaGGg+JmQS89Mb04fPm78
	Z/qhT4lZyeRlAdkUwHCsKEKJ3l7aIqoeWocWzOfbGrc1XLDgMQSv6q4XiNOj5Mfidr9X
	aa/WenPtHMtNVHxG8p1NMo+jgVyEEhvlK2u5E6HjMSxXsk56g3Rs0s68pshJPeOOJ9rR
	V2IDfuTQ7m8rB3s4od87Jmyzjsb4Agy6ErcuetyhG+J9hc90Y3/+vwuv2nfkiB5GJvzV
	D9G4IfyPTUFYR4GIIqM2R0hAgqnppdsBKkU3bJBz6VdEm3JvR5EhNgD8mc+k2hweuiC6
	Q9yGs2AuuTuszDr2ftVvVGiDtL0c9L/Ek5Xqa5Gp1eENrIUhg89Jd1UeXpw6VDr7gDuN
	ZoDjLNJh7L07HLm5aEHrc8aLou0XZ1atpyUDsZEF53rh1p9Bo5Q2j42tX/uzT7lO/CZy
	nyRk8e2SRngQSORVnDToyuH0aHDCFX3Hz1TyIF/TuWMg1kQw3J9p4SXOWaeDrGrL9Pmr
	La2BwjRX/KgMbVqIAymbsY3XTSGqSXx5SSvT0jehKbeZlGDJMjx1JLPyq4lwGZVrBuQA
	GbR8zekGvYh8XGNNJf12sjDnia/FJT31MUxQoanGWcUkGpzS/DNruchcNx++hHy+ejg7
	ZaaciYU2gOi7ljVumkt0Vu/fNADI6cByPYalOfLO7esSbkH3WHkMJN1sbcwh+9TEqPB4
	+L+uzEoP4918VnlJ0RmdzEOLKq3b2wif3YJGLhUMhWP1CDQXJiRiSLh34xDEL7l06yDD
	3aj/GdXwcW1CLj7qpe+EoowWk9bdfcLt5nv6CA5pmw8R8YP2quw5qwjD9E0lsRGFKHt6
	ZK2RaST9jLKjhk8/mHjWFgZtpm9hdJA6Ws/WfqVjdyZ2OFB2iehbXT0yWi2K95h96mW6
	ySYTiF2SBOVtEm3l15EEnd62pqBW2F/KRrjJ8YIwrvFTVsfUPgDAMuHjiK+MfsK/lWb0
	SgKArhFgAz4qBjRDUf2tfUchobVok3g9oQoSJq5ybisQQpLhbomt0fiAqTouq+uwpErf
	Qqik2tnQTieCYDIN2wlt/fk655aUtSNjWFVX6Zh74cCVN4y7xnbIodiPpZN40cFdQ+UG
	QKe+RFx0f+it3Sb+XO7FvUXXlcOQX+hqpEVfY7vEL/3veVFkc9gcMqbattSHqdLhrXgh
	L1MCnR5AJzYhAxI9JQLGHkY5Jy05YuzJpi676hnjTpK5fjgQVjPPQdPE6QQ9q7iW1UP5
	nCeiMrWC9Wj2shUsT4DMQHwp0SrCEGWvqRK6AsZaKOoNX6uC9jV5HQi/+2GwiVS1zosO
	97AYa8/YPouk/mLqJUTO/wjjzpgPe86veP1Ido287gpBayZQy2WPEmN3DeA3Zc+Y5J6I
	jgxO4mCWx5VXTtuOcsJypPXPTew3HqzwOLXK2lIRV8o7NxgHv/p6iPT7fwh9x74sSV/B
	qpoU7QLqdPvxb60jKm4rt1TsIYKQAZe7yw7dwU8pd23f7KjNh1n3JccoeYutaI5aEhDn
	Hbli9sk0fotvPX55MdSwOuc9xA+CI9vrUmACdim41O9aB+rFFXydyV37b8ajU+sIrdgW
	8YCPvPPz6l2weSX/VqQlb6sy8+WPo02ErzGBr+JdMWlUIWc03Vyo5VBA+dVFI9Y8yJ6k
	2HxdYmwpyuxk2vA8W7sB40CbGTb6n1rydFl91N36tpLgX/Iemyatzjx3L2wTLm7WoKc6
	9odIOzvire7TNZ8tsroya2jf5WkN49FVdrPU5sO+2v2GvgdT4raUWOitydYTwOkq3tYO
	8Rv7ieOdeh50UpNddPMvjCStauahFD6lFLDbT4SwVQZIO0S41v1Q7DqWo69UXyqlxPNc
	5N/DWqm8BXfI8mq7GVYBVYSFySe9jHscDCYquq3OW3J5ADl7AY6zguiJALQbdrS1OP2M
	sqprrqzvH1uD6aj0LvI+Rx/OXRR6PRALj5b/aeWmVy/nbVFLaD7qrFGIZqvEbyovEuPm
	cRdIGE8nLwTkOm7JQieC+b4JifN5KTXCq6ngeNf6cLR/YRlv/tdj3I2Amzmi3Y+PXvTn
	6QZRQZGtKsYA+IRGDlzI9NISO6JP45tlSIS9TALfxCsTj8hUHbIOiTfF+u6bYSqxZ9ZG
	vYeaCFR+ALI1EMaxoJfvwksQc93MBlOfvv+4Lrj+2TpWodI8alCbEYJtqcHVwMi3E1AF
	thg2EPtdKLFR4y2bzhvJOi02P8oi7sS19T/aLYqLq0OBqiMpL5N560YNjXG8+Eb55hwA
	ToryB+jaWYY96UWDVeYqPHQ0PR8uhH6esU8zvyQQ+ZLqxPeZnIaKYSiCl/AaHJCQARJq
	3HEEN1m1A2tP6uG8OVrgsJYVxfr6ZD/2nxZ09IV5vjhFZwIlM6UF4dMtiW3oafADGcOX
	TeO+epyCTpV2c3YP5BUmZUH6uR/mrXEI4Nzyb4EL3vr18B3jtoIOxbhMZEp+pW+ODy+b
	S9S6EFiUeCUaaPkZjh52hA5BR4SI0WR4a65GwwGikjHxUKBvgbfL3gbNjPnX5xHBCOaJ
	d0NgVSWB/Lv/C4aCbGw2YiTHzb4MAbCVPQLnSN+MhvYFETuJcACNhT20euf7qap3I2h9
	9J1PkGf2F6YZ830OX3HBqL8z2lhEUP85m050TdTwkF9MJJAuNVbFku+OvjNNN1gTuCOS
	ncpiGluwdnwnBVeph9IOzXpzoQ9vsRTFL39dTMW5A2r2QnhgpSQJ/txTMLSUH7DIw17+
	t8Hx3teCHSqLox1a/wPX5/rAEppmHrbDinu+OI+w8S+uGhWT9CIJ9aLMoJ6rqaKGHGnz
	AAoum1AAoPtIE3s0k5PYZA5TMryJilfmHhbiKijqmxVIv+dD/z3ej4lDQZEW0o4cLdjX
	KFPS6a0Lr2otBCwhnK21BjgC6pav9awi3La80Ap7IDbtWXpXp6lEKAbKUWeQk76hrLzt
	WPFuf0XMvh50nD49sfk1YBVSJqc4X/sDQuzzoQNpYTCIYBRlht4pzi9uldnmRu8Mbxne
	dTY8l5+Je9ZPmqL4TNcFTEyHuJGAD8jluflEjFZVYsspg3yYRCKLBLbMwQ26XGq3hEZI
	ltnPAPhbr4c4ROCOpngzIEd3JRLPpg9Kd2DJW7CRvCGwloiBEwc8ND79QAhKOvABvRd8
	lT8/CeGtudqAoF8J2peD7GWRTWiBVmlTieXdrZFhVt97a0adplguWYjj5Toaaa8oYYwc
	42Cn91o9lNnX+tIaK3V0D2hAjGrbXvKzV1rg3k9ezhnu66u5J1KgBZoYoGmnHmn35AYC
	HFBZQHuT0zAfa6hF7FWAFAFZA2GtWl3FnCsS1EXoGDSbt0uMKGwAdGMk3LDpkOXdiwdH
	4o2Y/Qt8k/N9hJ4yHeM0slpY3UcV1hnyBnfFf+L6wm5Lltpb5250jJwpklLYxCUUCSKF
	TiyQOHGlmD7rddk9M1zR3taBpEq+TicjvW5gH7pGLg6lSFpRt7EHOGm+ih9SbQyouaG1
	DwIlBQhotOkg4a5cuVNrDWkRhqt53+lGdHlKvBfVMv096Ro9k87afTxvq4RFva8BdgEO
	6ky9fCJvSOq1bpNZ9rCZTAjnUZtedqiDw1/wQ4s9+8TFxdOerxVke3nbgrB/x/MgZoWM
	Er5rYEYdX8hasc9veeMDLyaxrVqZBFDLpdgHC4WG2bB/9pwcOyZ8kOXauWAPmvJCPxwn
	fNgV43DhZBiRNcXOzl/KFuOcD1lhoP1Y2GbQTTkjdn0xhOm9JGmObzeUM80Se+gXU46Y
	a5PTlGtiv4Ck69DbkM7X9mG2t4oD9kVS6BNYpOXY2VPwiGTj7EbCAxiFriwoPknGg2Ey
	56rO0k9f3K3XaO8v8Gb8sjomx5NZB8vpm/7lI+1awzMg25V+a6kyAyGa30LlS94YVtdR
	neAWZnaGICr1Apca9qSJ3rokshyEUEDYwimvga5QAqQMrWgghVWUBjVAzkemO+Oo4Mqu
	/Oycp48qPNp5ajHrn2F0LL3TyRnzC4t/Q34OIQHff/TuDw88nb98bGftVv7XSKqhqLPO
	fH8A7WjgLy1gu85ovCEqXYtlAfIF+i3dA+mGrKQEZwPXUorNtEENtCWHFYRDJaUc7DKS
	FVYHVjvImU4JG606uuoX55sBvMfxZKsPNjcqu22cp5rWfymVdoiMxsRUdaL1K4EucrdW
	lsTPF3TW9tCiVYtgu4u40hDKXQAAAAAAAZoblSAAAB0QS9qoAAr8AgAAAAAAWVrSHB0e
	H1okY2xhc3NuYW1lWCRjbGFzc2VzXE5TRGljdGlvbmFyeaIeIFhOU09iamVjdAAIABEA
	GgAkACkAMgA3AEkATABhAGMAawBxAHgAgACLAJIAlQCXAJkAnACeAKAAogCxAMAAww6H
	DowOlw6gDq0OsAAAAAAAAAIBAAAAAAAAACEAAAAAAAAAAAAAAAAAAA65
	</data>
	<key>adjustmentEditorBundleID</key>
	<string>com.apple.camera</string>
	<key>adjustmentFormatIdentifier</key>
	<string>com.apple.Markup</string>
	<key>adjustmentFormatVersion</key>
	<string>1.0</string>
	<key>adjustmentTimestamp</key>
	<date>2021-11-23T19:29:59Z</date>
</dict>
</plist>
