<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>adjustmentBaseVersion</key>
	<integer>0</integer>
	<key>adjustmentData</key>
	<data>
	bVDLasNADPwXnd3gPEjSvZVAaS4NtNAeSg+KLdtb9mF25aQh5N+r3TzIoTcxmpFm5giW
	GGtkBHUEi5EpvJBuOwY1Wc4fiwv2qWvuBBrPFwX4oMkxsvYO1PxUQOODRf6gEDM0LmB3
	nteu8enwdtCmfh3slgIoGC+elyUUgH1/08BsKkisOrL4Rjt9RssCeoOc7gtFb95BvmH9
	M0S2YiGC+jr+850cbg3VoDgMJFeJWbs2JicH3OezkqHVDs0q+B5UgyYK8XeTUVAPwogW
	A99W+3MBs7KcFXC48hKNA6a+yD251lDGcGB/U3aXOqflRKSVd1nh+FpzeQ9eek65NVdp
	ksC6lqy60bm8bPha+fp+U3k7kkoNjfrOi4HT9+kP
	</data>
	<key>adjustmentEditorBundleID</key>
	<string>com.apple.mobileslideshow</string>
	<key>adjustmentFormatIdentifier</key>
	<string>com.apple.photo</string>
	<key>adjustmentFormatVersion</key>
	<string>1.4</string>
	<key>adjustmentTimestamp</key>
	<date>2021-11-23T19:30:25Z</date>
</dict>
</plist>
