<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>adjustmentBaseVersion</key>
	<integer>0</integer>
	<key>adjustmentData</key>
	<data>
	PY47D4IwFIX/y5k7yEMlXV100UQTHYzDxRapoZS0FxbCf7eIcTv5cl4jrGZSxAQ5wlJg
	7ffavGqGzFZFIX7sZhTXkGmWrgScN7plYuNayM0kUDlvia/ahy9KBIZFH9rKzcVlbxp1
	7G2pPSSS7W6dQ4C67p9BnkUSnrW2dNaDWWgc6xriuT9azOmCuEbq3Qe28UKAvD+mDw==
	</data>
	<key>adjustmentEditorBundleID</key>
	<string>com.apple.mobileslideshow</string>
	<key>adjustmentFormatIdentifier</key>
	<string>com.apple.photo</string>
	<key>adjustmentFormatVersion</key>
	<string>1.4</string>
	<key>adjustmentTimestamp</key>
	<date>2021-11-23T19:30:36Z</date>
</dict>
</plist>
