<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>adjustmentBaseVersion</key>
	<integer>0</integer>
	<key>adjustmentData</key>
	<data>
	bZA/b8JADMW/i+c0yh8I7W0VS1mK1ErtUHUwiZNclbuL7hwoQnz3Ogkghm6W/ez3/DuB
	IcYKGUGdwGBg8i+km5ZBLZI8iy69T11xCypPskUEzmuyjKydBZWeI6idN8gf5MPcimA/
	1xtbu/HwbtBd9TqYHXlQkD6uiwIiwL6/7UC+yrI4ibM8kUkoWzL4Rns9T5MI+g559BGp
	3r6DuGL1MwQ2EiWA+jr9k4Is7jqqQLEfSK4Ss7ZNGBMd8TCdlV8abbFbe9eDqrELIvzd
	Tl1QxVKuBIOeb7PDTCJ7yvMIjldhmq6WomSPIzuyz7bpCNSDOODA7rbdXtiuCuFYOjtt
	WL4iT+6bF+bj75rLsZKndSX/6lpPIKfQV/yb+0npTCx4O4r71on/+fv8Bw==
	</data>
	<key>adjustmentEditorBundleID</key>
	<string>com.apple.camera</string>
	<key>adjustmentFormatIdentifier</key>
	<string>com.apple.photo</string>
	<key>adjustmentFormatVersion</key>
	<string>1.4</string>
	<key>adjustmentTimestamp</key>
	<date>2021-11-23T19:29:48Z</date>
</dict>
</plist>
