<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>adjustmentBaseVersion</key>
	<integer>0</integer>
	<key>adjustmentData</key>
	<data>
	bVDLTsNADPwXn0O0SdrS7g3BgV6oBBIcEAc3cZJF2d1o12mpqv47TvoQB27W2DOemSNY
	YqyQEfQRLEam8EymaRn0TBV5csE+TMUt6ELlswR8MOQY2XgHenFKoPbBIr9TiBOUJbA7
	z2tX+1F4O5iuehnslgJoyJZP8xwSwL6/caC4L/JUpXmmZBPLliy+0s6ctyqBvkMe/8ip
	2byBfMXqe4hsxUoE/Xn8xwU53HZUgeYwkKgSs3FNHB0dcD/JSpbGOOweg+9B19hFOfzZ
	TCjo5WolNIuBb7v9uYk8ny8SOFwPRSlywLE4cg+u6Qj0nYA4sL9R20uxhcpEtvRuoji+
	Fq7+gpfGx+SGy3GSyKaStKY2U42T5Wv567+b0ttUyu0o7VsvBk5fp18=
	</data>
	<key>adjustmentEditorBundleID</key>
	<string>com.apple.camera</string>
	<key>adjustmentFormatIdentifier</key>
	<string>com.apple.photo</string>
	<key>adjustmentFormatVersion</key>
	<string>1.4</string>
	<key>adjustmentTimestamp</key>
	<date>2021-11-23T19:29:48Z</date>
</dict>
</plist>
