<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>adjustmentBaseVersion</key>
	<integer>0</integer>
	<key>adjustmentData</key>
	<data>
	bZBNS8QwEIb/y5yD9Js1NxEWvbigoAfxMDXTdqRJSzJdldL/brqtnrwlDzPvx8xgSdCg
	IOgZLAYhf0fcdgI6S4qD2tkLG+lAp2VeKRg8kxMUHlxEi4Jm8BblmXzYkILz9r53zbAK
	1xP35mGyNXnQkBbHwzUowHH824EijyS8d2Txkc680UTB2KOs+nGET08Q3dB8TEFsjBBA
	v87/uJPDuicDWvxEUZVE2LVhTRLE41qP3I1re7pYfJ08txxXq1LB5960KPOr+O32Y6Rl
	kin4/p3MkiomYRNDcMOXVrd+GGF5W34A
	</data>
	<key>adjustmentEditorBundleID</key>
	<string>com.apple.mobileslideshow</string>
	<key>adjustmentFormatIdentifier</key>
	<string>com.apple.photo</string>
	<key>adjustmentFormatVersion</key>
	<string>1.2</string>
	<key>adjustmentTimestamp</key>
	<date>2021-11-23T19:30:50Z</date>
</dict>
</plist>
