<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>adjustmentBaseVersion</key>
	<integer>0</integer>
	<key>adjustmentData</key>
	<data>
	bZDLbsJADEX/xes0yoNCOjvUTdkUqZXaRdWFSZxkqsxMNONAEeLf6ySAWHRn+fpx7zmB
	IcYKGUGdwGBg8i+km5ZB5Um2iC69T11xC2qR5FkEzmuyjKydBZWeI6idN8gf5MPcimA/
	1xtbu/HwbtBd9TqYHXlQkK7WxaqACLDvb0uQL5MsfoqzPBEllC0ZfKO9ntUkgr5DHh/J
	qN6+g7zF6mcIbMRLAPV1+scGWdx1VIFiP5BcJWZtmzBaOuJhOithGm2xe/auB1VjF2Tw
	dzt1JXAqCIJBzzftMKPI00Kk43Vw+TgOsseRHdm1bToC9SAPcGB3W24vbNNVVkRQOjut
	WL4yT+6bF+hjds3lWEloXUleXeuJ5GT6yn9zr5TOxIK3o7hvnRg4f5//AA==
	</data>
	<key>adjustmentEditorBundleID</key>
	<string>com.apple.camera</string>
	<key>adjustmentFormatIdentifier</key>
	<string>com.apple.photo</string>
	<key>adjustmentFormatVersion</key>
	<string>1.4</string>
	<key>adjustmentTimestamp</key>
	<date>2021-11-23T19:30:37Z</date>
</dict>
</plist>
