<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>adjustmentBaseVersion</key>
	<integer>0</integer>
	<key>adjustmentData</key>
	<data>
	PY6xDoJAEET/ZeorRIjB60200UQTLYzFIouc4Thyt9AQ/t1DjN3mZWbejrAsVJIQ9AhL
	Qdjv2bxqgU7W+Ur92M2UUkNvN5E4b7gVEuNa6HxSqJy3JFf24YsShWG5D23l5t2iN015
	7G3BHhpJtktXGRSo6/4lZGkk4VmzpTMPZqHR1jUksyBGzOmCqKPy3Qex8YcAfX9MHw==
	</data>
	<key>adjustmentEditorBundleID</key>
	<string>com.apple.mobileslideshow</string>
	<key>adjustmentFormatIdentifier</key>
	<string>com.apple.photo</string>
	<key>adjustmentFormatVersion</key>
	<string>1.2</string>
	<key>adjustmentTimestamp</key>
	<date>2021-11-23T19:30:50Z</date>
</dict>
</plist>
