<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>adjustmentBaseVersion</key>
	<integer>0</integer>
	<key>adjustmentData</key>
	<data>
	bVDLTsNADPwXn0OVB7Rob6hCohcqgQQHxMFNnGTRPqJdp6WK+u84aVP1wM0aj8czM4Al
	xgoZQQ1gMTKFF9JNy6DyLE2TC/apK25BFcVSIB80OUbW3oHKTgnUPljkDwrxDCWwP88b
	V/tReNdrU732dkcBFGSr53yZQwLYddcjuC8EiWVLFt9or8+ofOsM8vhAKHr7DvIOq58+
	shUPEdTX8M97crgzVIHi0JOoErN2TRytHPEwyUqIRjs06+A7UDWaKMTf7YROGtFi4Ovm
	MBfw8JjAcablRS5EDjg2Ru7JNYZA3Yk89uyvx+2l0WyVC7/0bjpxPDed3oKXqsfkmstx
	ksi6krS61lN/k+W59c3tpvR2IaUaWnStFwOn79Mf
	</data>
	<key>adjustmentEditorBundleID</key>
	<string>com.apple.mobileslideshow</string>
	<key>adjustmentFormatIdentifier</key>
	<string>com.apple.photo</string>
	<key>adjustmentFormatVersion</key>
	<string>1.4</string>
	<key>adjustmentTimestamp</key>
	<date>2021-11-23T19:30:27Z</date>
</dict>
</plist>
