<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>adjustmentBaseVersion</key>
	<integer>0</integer>
	<key>adjustmentData</key>
	<data>
	bVDLTsMwEPyXPZsoDoUW34ALvVAJJDggDtvESYz8iOxNS1X139kkTdUDN3tmd3ZmjuA0
	YYWEoI7gMJGOL9o0LYEqlreFOGOfpqKWoXyxEhCi0Z6QTPCg5ElAHaJD+tAxTZCA3fRe
	+zoMwtve2Oq1d1sdQYF8eFouQAB23WUHFrLI8kwWOROpbLXDN70zE5kL6CzScIYnzeYd
	+ChWP30ix04SqK/jPya0x63VFSiKvWZVTWR8kwZDB9yPshylMR7tcwwdqBpt4sHfzYhy
	XMkqyWGkC7efipD3cingMA/KFf8SRRya0/7RN1aDuuED2FO4LLdzs7m8E1AGP654mhvP
	r8Fz5UN2Q+Xw4tCm4rymNmOPo+m5/fU1UwaXcbtWZ10b2MDp+/QH
	</data>
	<key>adjustmentEditorBundleID</key>
	<string>com.apple.mobileslideshow</string>
	<key>adjustmentFormatIdentifier</key>
	<string>com.apple.photo</string>
	<key>adjustmentFormatVersion</key>
	<string>1.4</string>
	<key>adjustmentTimestamp</key>
	<date>2021-11-23T19:29:13Z</date>
</dict>
</plist>
