<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>adjustmentBaseVersion</key>
	<integer>0</integer>
	<key>adjustmentData</key>
	<data>
	bVDLasNADPwXnV1jp5SYvZVCaS4NtNAeSg+KLdsq+zC7ctIQ8u9dbxKTQG9iZiTNzAEM
	CTYoCOoABoOQfyHuegFVLqoiO2Of3EgParmIiPNMVlDYWVDVMYPWeYPyQT4kqMxge5pX
	tnXT3c3IunkdzYY8KCir5+UCMsBhmHfg/qHIi7wsi0iEuieDb7TlExl/DhplehOVvH6H
	+BSbnzGIiU4CqK/DPybI4kZTA6pFHSieJRG2XZgc7XGX7sYsHVvUT94Ns/B3ndAkCAa9
	zMzuqob9tUo8TqWRfbSdJlB3EcRR3LzZ35RaO5tWrFzKvgHPbU+5WeppioG5iVm55dRh
	8ntpfnXN1M7ksVlN+dC7aOD4ffwD
	</data>
	<key>adjustmentEditorBundleID</key>
	<string>com.apple.mobileslideshow</string>
	<key>adjustmentFormatIdentifier</key>
	<string>com.apple.photo</string>
	<key>adjustmentFormatVersion</key>
	<string>1.4</string>
	<key>adjustmentTimestamp</key>
	<date>2021-11-23T19:29:25Z</date>
</dict>
</plist>
