<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>adjustmentBaseVersion</key>
	<integer>0</integer>
	<key>adjustmentData</key>
	<data>
	bZDLTsMwEEX/ZdZW1PgRO96hCgk2VAIJFoiFS6aJUeJE9qSAqv47TlNYsbOOPPfcmRMM
	SK5x5MCeYHCJMN6hbzsCy6U07MpefEMdWMEryWCMHgM58mMAW54ZHMY4OHrGmFbE4Li+
	78NhXIL3s++bh3nYYwQLpbzlWgMDN01/QyBFJum9w8E94tGvdMNg6h0tgvzF754g61zz
	MScacocE9vX0jx6D2/fYgKU4Y05FIh/atFRJFN2yH4ab0PZ4UXztom99HuW6KqSQ2vBq
	Y6paaQaf6+Zc1bwQujJlqWrJN4JBd71TKU1dXCA3tVEq+79/A6Xkhay5VqLiojRG5fq+
	yc39wV9usY3jBOe38w8=
	</data>
	<key>adjustmentEditorBundleID</key>
	<string>com.apple.mobileslideshow</string>
	<key>adjustmentFormatIdentifier</key>
	<string>com.apple.photo</string>
	<key>adjustmentFormatVersion</key>
	<string>1.2</string>
	<key>adjustmentTimestamp</key>
	<date>2021-11-23T19:30:51Z</date>
</dict>
</plist>
