<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>adjustmentBaseVersion</key>
	<integer>0</integer>
	<key>adjustmentData</key>
	<data>
	bZHLTsNADEX/xetQ5UWazA6xgG6oBBIsEAs3mSSD5hHNOC1V1X/HSdOKBTvrjn19feYE
	RhI2SAjiBAYDSf8sVdcTiKzM42jRPlRDPYg0KVhyXklLSMpZEMk5gtZ5g/QufbhIEewv
	9ca2bjLejUo3L6PZSQ8CkvVTGUMEOAy3GcgzVkLdS4Ovcq8uKi8bNNLkzy1q+wa8DZvv
	MZDhCAHE5+mf7dLiTssGBPlRsqskUrYLU5IjHmZbvqFTFvWjdwOIFnXgxp/trIIoc54y
	6On2dFgAxHkVwfHal9zztkAeJ2LSPthOSxB38SrO11VV5OsirdIiiZOi5NwjuZtfv0BO
	szyLoHZ2drF0hR//FRf6Ew1F9VQxBtUwAdWqGel8xvUjNn9famdWDFrL1dA7DnD+Ov8C
	</data>
	<key>adjustmentEditorBundleID</key>
	<string>com.apple.mobileslideshow</string>
	<key>adjustmentFormatIdentifier</key>
	<string>com.apple.photo</string>
	<key>adjustmentFormatVersion</key>
	<string>1.4</string>
	<key>adjustmentTimestamp</key>
	<date>2021-11-23T19:30:24Z</date>
</dict>
</plist>
