<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>adjustmentBaseVersion</key>
	<integer>0</integer>
	<key>adjustmentData</key>
	<data>
	bVA9T8MwEP0vN4coSQttvQELXagEEgyI4ZpcEqPYjuxLS1X1v3NO2qoDm/3e3b2PIxhi
	rJAR1BEMBib/QrppGVSxmBXJGfvUFbcCZfNlAs5rsoysnQWVnxKonTfIH+TDBCWwm95r
	W7t4eDvornodzJY8KMhXT4s5JIB9f92BeV6kWZoXmRChbMngG+30RGYJ9B1ylJFJvXkH
	EcXqZwhsxEkA9XX8xwRZ3HZUgWI/kFwlZm2bEA0dcD+elSiNttg9e9eDqrELMvi7GdEx
	rqwZ9Hzl9lMR+cNMBA6Xwfv4C+wxNkf20TYdgboTARzYXZfbc7P5arlKoHR2XLF8aTy7
	Bc+Vx+yay/iS0LqSvLrWY4+j6Uv761umdCaVdjtK+9aJgdP36Q8=
	</data>
	<key>adjustmentEditorBundleID</key>
	<string>com.apple.mobileslideshow</string>
	<key>adjustmentFormatIdentifier</key>
	<string>com.apple.photo</string>
	<key>adjustmentFormatVersion</key>
	<string>1.4</string>
	<key>adjustmentTimestamp</key>
	<date>2021-11-23T19:29:14Z</date>
</dict>
</plist>
