<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>adjustmentBaseVersion</key>
	<integer>0</integer>
	<key>adjustmentData</key>
	<data>
	bZBJb8JADIX/i89TFJayzA1VqsqlSK3UHqoeTOIkU80SzThQhPjvdUJAHHqznp+X953A
	EWOBjKBP4DAxxRcyVc2gJ9lsqQbt0xRcgx4/TucKQjTkGdkEL9JZQRmiQ/6gmC6Sgv2l
	3vgydIt3rbHFa+t2FEHDePG8zEABNs1tBmZTUVJek8M32puLmiloLHK3Xyxm+w5yDYuf
	NrGTFxLor9M/18njzlIBmmNLspWYja9S98kRD/1ayVAZj/YphgZ0iTaJ8XfbqxJ9IsmT
	w8i33mEgkGULBcercbFaiZEjdsjIr31lCfSDHMCWw224HpCu5oIvD76f8Hwlnd2LA+ou
	uuG8qySzKSSuKU3Pr//5Sn1z38mDGwlVS6OmDnL//H3+Aw==
	</data>
	<key>adjustmentEditorBundleID</key>
	<string>com.apple.mobileslideshow</string>
	<key>adjustmentFormatIdentifier</key>
	<string>com.apple.photo</string>
	<key>adjustmentFormatVersion</key>
	<string>1.4</string>
	<key>adjustmentTimestamp</key>
	<date>2021-11-23T19:30:25Z</date>
</dict>
</plist>
