<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>adjustmentBaseVersion</key>
	<integer>1</integer>
	<key>adjustmentData</key>
	<data>
	bZBPT8MwDMW/i88R6p8VttwQEmKXTQIJDoiDS9zWqEmrxB2gqt+dZJ124mb95Of3nmew
	JGhQEPQMFoOQfyJuOwFdlIW6oDc20kWSbbYKBs/kBIUHBzpfFDSDtyiv5MOKFJzWee+a
	Id2tJ+7NYbI1edCQ3z4WWQkKcByvItgkEj47svhMJ15ppmDsUZJBXOHjC0Q7NF9TEBsz
	BNDv8z/25LDuyYAWP1G8SiLs2pCiBPGY6pG7d21PZ4ufo+eWk7QqFXyvXfPtrlLQXX6R
	72Lx3+ve3U0Vg7CJGbjhc6sHP4ywfCx/
	</data>
	<key>adjustmentEditorBundleID</key>
	<string>com.apple.mobileslideshow</string>
	<key>adjustmentFormatIdentifier</key>
	<string>com.apple.photo</string>
	<key>adjustmentFormatVersion</key>
	<string>1.4</string>
	<key>adjustmentTimestamp</key>
	<date>2021-11-23T19:30:49Z</date>
</dict>
</plist>
