<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>adjustmentBaseVersion</key>
	<integer>0</integer>
	<key>adjustmentData</key>
	<data>
	bZA/b8JADMW/i+c0Sgit6G2IpSxFaqV2qDqYxElc3Z/ozoEixHfvJYGIoZv1/Gw//85g
	SLBCQVBnMBiE/Atx0wqoZVYskqv2yZW0oIpssUzAeSYrKOwsqPySQO28QfkgHyYpgcNU
	b23thsX7nnX12ps9eVCQr9ar4vkREsCum6egyLM0T/OnLDZC2ZLBNzrw1MwS6DTKcCg6
	efcO8SxWP30QE7MEUF/nf2KQxb2mClSNOlBcSyJsmzBkOuFx3Bu/adii3njXzcbf3aiO
	hmDQy9w5TiQmOKd7m3gcwJFd20YTqIcoYi9uHm2vYCeKpbPjiJUb8OxevBIfHmcphyp+
	zFV8lmseMY6Bb/C3953SmTSi1ZR2rYsBLt+XPw==
	</data>
	<key>adjustmentEditorBundleID</key>
	<string>com.apple.mobileslideshow</string>
	<key>adjustmentFormatIdentifier</key>
	<string>com.apple.photo</string>
	<key>adjustmentFormatVersion</key>
	<string>1.4</string>
	<key>adjustmentTimestamp</key>
	<date>2021-11-23T19:30:22Z</date>
</dict>
</plist>
