<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>adjustmentBaseVersion</key>
	<integer>0</integer>
	<key>adjustmentData</key>
	<data>
	bVA9b8JQDPwvnlMESijS2yqWshSpldqh6mASJzF6H9F7DhQh/nudBBBDN+t8vvPdGRwJ
	VigI5gwOk1B8JW5aAbPI8yK7Yl9cSQtmtZxnECKTFxQOXkmXDOoQHconxTRBGRymeePr
	MOjuerbVW+92FMHAYrVeFpABdt39BopckVS25PCdDjyhatZZlEFfKbz9AHXDat8ncfpC
	AvN9/sedPO4sVWAk9qSqJMK+ScMnJzyOspqhYY92HUMHpkablPi7HdGRkBxGuW+OD/FP
	N1aePytPIg51kX/xjSUwT0rBXsL9tr3WuSqWGZTBjxdebi3PH8FrzUNulnKYNDBXmpVr
	HssbH75VvnnclMHNtFJLs64N6n/5ufwB
	</data>
	<key>adjustmentEditorBundleID</key>
	<string>com.apple.mobileslideshow</string>
	<key>adjustmentFormatIdentifier</key>
	<string>com.apple.photo</string>
	<key>adjustmentFormatVersion</key>
	<string>1.4</string>
	<key>adjustmentTimestamp</key>
	<date>2021-11-23T19:30:36Z</date>
</dict>
</plist>
