<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>adjustmentBaseVersion</key>
	<integer>0</integer>
	<key>adjustmentData</key>
	<data>
	YnBsaXN0MDDUAQIDBAUGBwpYJHZlcnNpb25ZJGFyY2hpdmVyVCR0b3BYJG9iamVjdHMS
	AAGGoF8QD05TS2V5ZWRBcmNoaXZlctEICVRyb290gAGjCwwPVSRudWxs0Q0OViRjbGFz
	c4AC0hAREhNaJGNsYXNzbmFtZVgkY2xhc3Nlc18QHVNTU1NjcmVlbnNob3RNb2RpZmlj
	YXRpb25JbmZvohQVXxAdU1NTU2NyZWVuc2hvdE1vZGlmaWNhdGlvbkluZm9YTlNPYmpl
	Y3QIERokKTI3SUxRU1ddYGdpbnmCoqXFAAAAAAAAAQEAAAAAAAAAFgAAAAAAAAAAAAAA
	AAAAAM4=
	</data>
	<key>adjustmentEditorBundleID</key>
	<string>com.apple.ScreenshotServicesService</string>
	<key>adjustmentFormatIdentifier</key>
	<string>ScreenshotServices</string>
	<key>adjustmentFormatVersion</key>
	<string>2.0</string>
	<key>adjustmentTimestamp</key>
	<date>2021-11-23T19:30:36Z</date>
</dict>
</plist>
