<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>adjustmentBaseVersion</key>
	<integer>0</integer>
	<key>adjustmentData</key>
	<data>
	3VhJV+M4EP4vvpqJ5VVy3utDIEBoNjcBehnPQUlkYvDWtuykw+O/T8l2FsAhEDKX8cXl
	UpW+qtKnzY9SyDgdUU6l9qMU0oyztMf8uzGX2raF9mrVd3/Ex7UmTn0Wccr9OJLa6tOe
	5MVpSPktS7NKtScVlXwSebHodpD7wegiDwcsldqSio8IkvYkmiQLH8nQQZMNxyykV6zw
	Ky2AJQHlon8w8S/7EqDR0X2e8RBCyKT2348N6Cyig4CNpDZPcwa9Ms796C4TkcSeB599
	yvO0TgAw/CjJ+UEcxGn5mYncMu4PS4+McoelQ4DzA2aTEuCZ7rhJiU3oqmUToummZhtE
	JQQTFZdWnZzHtzTIGZhAPlVIB1DmEr3+jCOezlUUHKpkwNwfCQTPL0vZD2laRz43e1y8
	n6UFnsM8TcEX3EqLxcCdrPY4jMMWDEzAWsk4Lq22q/CYjuJJtizvWUWpv9QWIgTBY9qq
	hgnC1jzlHlgEwipbqcNZPKRB7btQHk6TOMtTtqLaT4VNxLJV5/2ADh+c2I94w7gmSBND
	hFTTIpaGDRPZBOm2BtklJiqzpMuBWsY9f6CdxxENrmh0JyJpWbZqImSpSDOJgRDR9qTB
	agAthHTVxpapGkg3baKp2AQszSyxyszPaTKfe7qIo2SW8IOw5mGu2NaTUpgGok6rxGoZ
	BCbrymMs/TrFHYx05qAv0lIJmonnKvuuQnqu8hGxW2zl9g5R1lzFchVXyQty4yoYCyX5
	5irqtauEleUElIc7wCKXrjIFxcTZYFoUMsQ00bfG+uoq9sVWIaZQg9nHvA4dMvxUZQpH
	VOZdpgkk1tvV6HfFuL9pERakvzWE5sjFKm9lwS0BuZaLZGusGXDFMQ74q/Z+IT/sFkqI
	57/Um9/n3ZfkgQk0PRP0fUH6TzAZOpgNjyK7ufV38clEXotTMUJXpyfiNWuMe4Kf12Lz
	2iTLMKtAwQvZBFKB7tqRBQAG0XFiaxDi99WCrWsXC1dedwrisDDHsoptVpDZr+t9u+f4
	NuTDp9RV0qae7ZKYulgHqzI0owirCw93arEobLsyuF+Zzq4iEhbiGT/64R/DnG3oCojS
	9Ui9Sn1vnorAXlwvSI7oM0nfrg26SG5PmNpYpM5iNGZN+f90Fb0rV7O0ym3j6nAKLxLc
	zIzXzchb0qWRRAiKBMnIRo2WvnOHM2HvgFCt5zniezH6a8gHYWqixL3RtY484m3afTaK
	lw6J15VY1/BPx4QI0Y/dTMpya+iuVFPmjaU6zqLOJ6GqVfv+Zf0Omuhi7ALLSsXm17S+
	PGwk37Z7XmPxjgp78B+AsbdIPe3u5lT1YgN627Tzyc1oIX79wIm07yyW6C3Reg7Z4jhX
	fPzUjGblLvVnV+xeY+DId0AAwMp3yvO8PEiKI8i3gjiV1C3X+4+eaf/fIhG3ssnY56y+
	OTbcABMVlf8XsGYaNlLhpoeJoatw5RzDde6U/anum0jVLNCqmNgE2wib1tM2Pxiu44it
	+7+w/l6/9R+Hf57+BQ==
	</data>
	<key>adjustmentEditorBundleID</key>
	<string>com.apple.mobileslideshow</string>
	<key>adjustmentFormatIdentifier</key>
	<string>com.apple.photo</string>
	<key>adjustmentFormatVersion</key>
	<string>1.5</string>
	<key>adjustmentTimestamp</key>
	<date>2021-11-23T19:30:27Z</date>
</dict>
</plist>
