<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>adjustmentBaseVersion</key>
	<integer>0</integer>
	<key>adjustmentData</key>
	<data>
	bVDBToNAEP2XOa8EkBS7N/ViLzbRRA/GwxQGWMPukmVobUj/3QHapgdvkzfvzbz3RrDE
	WCIj6BEs9kzhhUzdMOg0v0/VGfs0JTcCxdmDAh8MOUY23oFOTgoqHyzyB4V+gRTsl3nj
	Kj8d3g2mLV8Hu6MAGpL1U56BAuy6qwayJI3iKEljWfRFQxbfaG+WZayga5GnN8I023eQ
	p1j+DD1bcdKD/hr/MUEOdy2VoDkMJFeJ2bi6nwwd8TCflSi1cdg+B9+BrrDthfi7nVGJ
	m+Qisxj4ujssRSSrdKXgeCGu80yIHHBqjtyjq1sCfScPcGB/FTfnZhORKyi8myWOL43H
	t+C58im74WKaJLQpJa+pzNzjbPrS/uZ2U3gbSbstRV3jxcDp+/QH
	</data>
	<key>adjustmentEditorBundleID</key>
	<string>com.apple.mobileslideshow</string>
	<key>adjustmentFormatIdentifier</key>
	<string>com.apple.photo</string>
	<key>adjustmentFormatVersion</key>
	<string>1.4</string>
	<key>adjustmentTimestamp</key>
	<date>2021-11-23T19:29:14Z</date>
</dict>
</plist>
