<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>adjustmentBaseVersion</key>
	<integer>0</integer>
	<key>adjustmentData</key>
	<data>
	bVBNT4NAEP0vc8aGAkXdW9OLvdhEEz0YD1MYYA27S3aH1qbpf3eglGjibfJm3ryPMxhi
	LJER1BkMBib/RLpuGFQWp0k0Ye+65AZUGidZBM5rsoysnQWVXyKonDfIb+TDCC0jOFzn
	ra3c8Hjf67Z87s2ePChY3q8fVhlEgF03kyBLBQlFQwZf6KCvaBxB1yIPAnKid68gclh+
	9YGNeAigPs7/yJPFfUslKPY9yVdi1rYOg5UTHse3EqLWFtuNdx2oCtsgh9+7EQWVxLnQ
	DHqed8epgjxPIzjNh48iF9jj0BnZta1bAnUnAtizm8nN1GmySmVVODtSLN+6/gNOZQ/Z
	NRfDJKF1KXl1pccGR9O33re/N4UzC6m1pUXXODFw+bz8AA==
	</data>
	<key>adjustmentEditorBundleID</key>
	<string>com.apple.mobileslideshow</string>
	<key>adjustmentFormatIdentifier</key>
	<string>com.apple.photo</string>
	<key>adjustmentFormatVersion</key>
	<string>1.4</string>
	<key>adjustmentTimestamp</key>
	<date>2021-11-23T19:30:37Z</date>
</dict>
</plist>
