<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>adjustmentBaseVersion</key>
	<integer>0</integer>
	<key>adjustmentData</key>
	<data>
	YnBsaXN0MDDUAQIDBAUGBwpYJHZlcnNpb25ZJGFyY2hpdmVyVCR0b3BYJG9iamVjdHMS
	AAGGoF8QD05TS2V5ZWRBcmNoaXZlctEICV8QEkFLQ29tcHJBcmNoaXZlUm9vdIABpwsM
	FxgZGhtVJG51bGzTDQ4PEBMWV05TLmtleXNaTlMub2JqZWN0c1YkY2xhc3OiERKAAoAD
	ohQVgASABYAGXkFLQ29tcHJTaXplS2V5XkFLQ29tcHJEYXRhS2V5ERHiTxEPjP03elha
	AAAA/xLZQQPA2B7iIyEBFgAAAMyYZD7gEeEPUF0AMRwJvB5/TagVfFs4MUsnqUVduvQM
	eqxMX69Par8EMg7YWIOMCKVTy1OA9Jhtgv9b8H60ptjecnNNRwfoGIxVLJOmCyzUDjet
	qYQXUtNbhmu131fisCCI70i2e3SrkRMzz7HRWSBqGfESgW7qX0i3VElziJ1nYIhuVAA7
	IqhRptSecfrWvsWe1uM+xsGhyNnYssvDmXlq3R8maGmUQZ44Fq4EXt/3wbw3/OAjbvCA
	r8CMkQRsEsJbftoKI5vOPKTvbOZvjIJqS5pBbu424urgHp0zBd9iQKidwPV3hzN59Ygk
	x17C9RRegljHr44GoEB+C/Ra2NJ8+8Uyz27yGZBlwxZZTxtqo1HQ6boM3c1tpHjnXSz/
	DBIpqObMvDeznspIFpjHht8x1kE7I7pPUY209vlrvu2a6gFbNBFwRv9Th1OqhpvDFV99
	R+NrZig3Gdas3pVjITDeGo7c964RGEB5eVqvNr5zRRKrBWZDgJhNNQgdxrFdeRKBu7ud
	WWxLJOl6QTvBF21j6FHItAqqGKqdQz3mGn5JA4w1zI3WFsMWUINt+r5JCojZ+NdvjpD/
	riYfuzhR3ZpuLjXOoIw33m1DRgWG+9b9LrYuhvGQHPkkZPIMDe+06bcOo/Fs/BtP9iCk
	9xL7OsO9VCig/C6QTcTXGgUBLiUYO8d3AihN17tq8Xe+XOgehGWpGDX/2MZ1EdC+XYnv
	mGaLMjPbjFPGt4E7WffmcHsPjnFPGvSSmf8Gy5VSQLxcfC0BgIG8RymKULQN4fMh22VF
	fxemM2TYoJkbMZw2J8hs92JuyBgQOgjFiiclCipvPKCwL02kniQlr5Uf0LKu0e0sU2Gy
	B7gDflUhW2vNwRAmjSc+V2GsziwPszDlthb08D4S6Zpp5mMy3o4O29RKdMfY/m8vAB/X
	zPLO+aPNip5YqXooYvhviwsnJ/4ZnKbXEc/l2WCjXMAH2m1W28w3LnZVRA5sMDd8kvoX
	pT8QOPNeWGqpdANdni4Rj4ThJd52zq7FLi3FQkIMPZjY7173FOV0U4kcvpOse95qiKy/
	+SWVx++DIDg1XW3ad1l5zIkYDZ9HtiKHy8d/oTkrBJEERJo1D3Lyxc8SPTzAkivaQBwZ
	cazVcYfAjI3XrqucB/+LOV7o2pkbjEn0BhW1SNIcvbLxyMXMSVoA/72avAqf69UUGnyM
	bjXG7oENFQDBCoLkLO3cwiFZpkfLrhTqG7PjFKCdy9KbMmv0R/2RXQ0XMtbzs3H+mcrd
	doS5Fsxi31COSkunkO2ipwWSIr5rndDEA87o0vvxBBy6hYFvILN0wj6Gm3Dmh5no9Bp8
	tf0ytEUx0VafmqFMd41CEn1m0CHq5p468UTF4hqspMdIVO5yQEequG/Xo+zpyJDFzwaJ
	9ORynef5XB3+NaETkkiZhFLSw4H0MbySZqiISQQN7C9riGmDrX6kByjRovxJR4U6z/M5
	pQeBk1sw2S5P2qjE0RZ8lpk2NLfVAadOtwDbPKCcqDthiPX5xuVbALJYm0+mIty4h0qV
	5tQLtW7JS7r6juYNmIYzyuSfGjiCeDJtZCozl1pO3DWzfrHzcW6xM+Pb/ixtzN8jwtww
	VT4NVun8lcIfSROfYCr7F9o5+HBuomhE7+zfgDPbpjkGuHjwCaUzJQFs7bJL1DxuIGxb
	5brsnGdLPgbqlZFtlseWxDcG4jRePo4rT7m5BMXL2GtXrmMBICfO5sw46us4SqG05st7
	cX4zjhXI/y0aHaQVByvSuoLqzD4cV5nENjr32HTplc/EHI+WwuE985LMzuJfSyrCis5F
	wY17ohtEEWLls/264rg/rvjdpNcUME6jfLnrCl71JNB0cI/o7L83lONxdxk72sIFlPid
	4gOfDmkwRwqomQ3AxOi9n+BBn3t45SA3tsutR5q8LrC1KO8PhO8IXecZ+8bMZnL+pYw8
	12tXdsbkePCh3peyBhzaZmL71SJfpYWP3pYu9Z+xj0QDz4HCsZN42nxPLAn0ZmpFaJ6g
	p2jWgr/VVL0SaGFRrzfTHsFkC/6wPmZWpcPspAiL6JLs5+V1/TjmClJA6p55noNkQE07
	iETGTqIN/xemb7APygeOUXwmyZR4JRawL8id8KMWNpGXSEubGiW+2v+yLKe9BXK6570/
	h3UYipiaoCaSyCcMpXlarJORtljSJUz5EDZqcVfZ8GpAU91iqGdlScrIJh+yC0nCy10B
	qya7DblwTcmN7UrpJuTrJlUmyrnueQvTDUmnwe3igCJtr9Zag4SgGtYt4HgQJsgT7GR2
	Z2jS8+iVhnSixLHOwzxxViLGAbXx9I7WoXreCygx61X1XtFhRFfU2HGCbw/20csDsYf0
	4Z55FloyvNDdOCwK86y11H3tSzXZLM6YwHkpBX06iSTz+GVmzGCLV4R0kEqtNbpPJtE1
	AqyYEg0MqQCttjAopGv14IrrV+OEqWphZc+sccxKb26fYjGNJyfKGIaYN/gSB039B1QW
	AKVALo+J7OiHzWxmUazO0QeVtaXZn7lpM0mhup3ZM2HQ9GzN7bRhZs4Fe+xs0IiDfEEz
	LFwfkXEMO0dszF40CbV8XelWFgB4RpfGX5x3aB5zaI33k1KDHLYTMGMKTgMNKtShGsxv
	ttQaC1ZNkLqseRR3If55gG/5+hGbsXg1PyZCDbTVEDawZ8zKJ4893q0a1N4zEMvsKN8C
	8McHNR0opGf5CU3I2iWfT3gf6roZqkLefTp9Jqqh/zwY0Z/ROhNuDNj8X9umV0fboz5+
	7oXvyB1PW75cybhcPm8mAJR63Rg9gctNXLUWT/AfJtLCBs3JLqFyvoC/FOpLdfh4zHid
	G71T4jF0N/vH+MyLVE2Oq3dN7NJ81M8U0Ur3XOwgzFKHYPYYOLR3VM1rgX69Uu+TxrPw
	dxbp/IvDWvJTU927YGhef8AUmCPD/Dhj+H6d7Ueha/2wcoZcO8TBvvQXWUT7MBthD0wu
	baCeZTjpqByWYMR6FWrZuuz70ISjePPKZVSnNMb93ogEytlIsP/ebQ2mscLKcaY0tsfb
	FxAZgxwtvIMwaeG8WdHz6PU3xpzOMpNtpTzBbpyIXWpih1OyJXBNJ/KCNC7voLsfUYzW
	yyoEkEmVHGbZ1PNZNo9Z/fBCwQaKTaWEElqk0jMhm5Cy8rzBW4sOTHTEsuACaFPki5mU
	RxpSwVCfh3TdVQh28nnpCw7ucfhz59gY1pv+8ds3rF3bKQntyVBhfY//t7pJBSu/c0CU
	KVgU+/ygt3VYDDoSP83BecK2CiAMBv5NmwKCjEgIhWhklaAIjS3VBWqnPHKwg97dSrSS
	b3iuUkWEETvrrTNBnRLUBCO9LfM4KzReEqAii5lojIMhTyfFI+iK31hq/Bw58m0IFy70
	DsM33upjFpguU1LI1rQEoo8DXqnFmiO7fPSpAM9M8o3TRt2/7DubkQ+ncrofP1Icp9Fu
	dwkCnd7M2gE+akCMN8GJixJU/uewFHH5JkOOjfBAnjIZecC3n5B60eELht+l+UNACR2B
	POoztaVyrv9S7w72gS6AFYdrowhP7rcSt8z+Co01sE1t1gAtbhWEiATAW2f0YyfxOXeJ
	ZaM+LoNrkZoa4NZ3bZuuOQxInAOV5MAr/y5gGnperOODZlsEMPGldAQk0fcZa3rtgrNZ
	+5s10JVi3aw0nuIuWTS7XjOMy2HigwjEjvabnp+aH/wo9RsriSaJl37vnPnK/iMaDFeL
	j9pLtAbiVtTGBV/NF7Rxyu0j4B2nRkAtH3qh6SyBZOqezF71Mqlc/aVEQ554VEhcuU0e
	tGlkDtFtgseVQAKRydmKHeGKrQjZRA61UDcn8PvOeIqIfME1rKPBkU0v5Z1ilpP5KX3X
	UnTF9WGKTLogHLplUbDRJO88EhoDxzq/zPR9rWLaan5U/DOO/0yk9ltf7V3aplQFZhlH
	4CkHsq+h/hYty8nosXOxZzhmwbm64cFxMkaML8zsZwORNPi4QgM3f7UDA1e29oG/J7SG
	EVmw+DasPUURpmW9km3jYxZ0nNBnohlUSxUAkdFYvB+LHGL8ufAVZmNG6lgzc5Spmj73
	7g0URDqJdh40nO8TnGPtrp3oQY9GnxFB63DoN2S/MiGCcph9Ohi5Wf+kXRUaaF9XoYd9
	COPggmQw9/kqjujeHcUb6v/LIYBS+W/JTIQP43QYOJdKXsYg/msks/eR/Yv/TTMtBKPp
	EvZ967ZCDwUI/fIJaW5OWqGR4pLUa0oxTFKxMXzYf11LmLv9rZUdo8EcspLOkNastv3q
	wqfamHDsvQInP1s/zNfd3UBnfw2v5CRbSFFStLArJiBSdPW47bJC2GTPeSyoI4ywGDYE
	ofCIIMn/5WIJqxm3JYSXpbfSINZ1Zo+yt1AFge20a1ll0efRj0gUsZKrDT16sW6mXzqX
	QapTa67XS3WTYdGwPFyeNqXkUvOHdOlHYTsJwchIjVxPpwH5ATvJcMsOeAC0s1I5X26s
	1Qx+Um3nclqaq7D/oUw8XRh6UUET4kCDTXikFZDf7WBYEjUUktltGy14aLeET1XGiBtR
	jdRsaM2TIiNzUnNts/WGN8ajkoothEU0jPMKxK6Ki/tDjnGzJXyDwjMgqUnqgVD6oOxA
	RDFAidlnlzaRmI+sVUOI1/JvpM/jTkFDmntTboHhsuCtfH6Maqrjjfkk0n4WKsceKXej
	lWW80X1Ps1MQiRbNUouTLOiEeoJls6oP34IqjY6ACJQ7paPrvAz39XTXVxbrC6hba3em
	AzO7DTBO1xYYHj0qQmQB6zowbYYzOSz3FsNdaH1DdyBLRrmA3PjsAnkXenaB8xWYR2z+
	wkj2u7yBsrk7T6rs0lrHNOZStOxomcjxFTWl2KHZK66suB6JFueKr5MgjGyvvS21Ct0i
	lOOWbwWKCTDDZvOt/L6hDm8hd9FRHibfcNgERfUMjTwt72nQA4QTKgMme0ngVHixKGZp
	udhCDON0lqw26oU9vVPL04lJjIOdk9YLwBsPgQP92jb4vUupGUHzinC5nImbNGGlkc7n
	XYrRJ5+XLQe4AXA2GPHm/o4apSY4MG5Ylm1XKQqsCrkEDIN6YlTQ5MZ91QH3xVe6rt5m
	TGYpxrQDSB+WWMaGDMpUURb0tBkyw7BrC+vg5hX9qSJEQOn2QNOkL+BSHJr0YSFxmmJl
	N39P8HXM84/eZs3DgqJIq44WEy+PbQJXfOl8F0Psd5+8K7N18MR09YJzTX5sqzM2uj1C
	72o+5Ux7iCjJGqY36FQKr3rLl+D3oAAAAAHoHuIjAADbFe+gqAAK/AIAAAAAAFla0hwd
	Hh9aJGNsYXNzbmFtZVgkY2xhc3Nlc1xOU0RpY3Rpb25hcnmiHiBYTlNPYmplY3QACAAR
	ABoAJAApADIANwBJAEwAYQBjAGsAcQB4AIAAiwCSAJUAlwCZAJwAngCgAKIAsQDAAMMQ
	UxBYEGMQbBB5EHwAAAAAAAACAQAAAAAAAAAhAAAAAAAAAAAAAAAAAAAQhQ==
	</data>
	<key>adjustmentEditorBundleID</key>
	<string>com.apple.mobileslideshow</string>
	<key>adjustmentFormatIdentifier</key>
	<string>com.apple.Markup</string>
	<key>adjustmentFormatVersion</key>
	<string>1.0</string>
	<key>adjustmentTimestamp</key>
	<date>2021-11-23T19:29:14Z</date>
</dict>
</plist>
