<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>adjustmentBaseVersion</key>
	<integer>0</integer>
	<key>adjustmentData</key>
	<data>
	bZDLTsNADEX/xesQZdJQ2tkBG7qhEkiwQCzcxEkGzSOacVqqqv/OTPpQF+ysa/v6+hzA
	EGODjCAPYDAw+RdSXc8gq2JWZmftUzXcg5wVZZWB84osIytnQc6PGbTOG+QP8mGSRAbb
	U72yrUvGm1Hp5nU0G/IgQSyfHirIAIfhugOVKPMiF2URG6HuyeAbbdWpWWQwaOR0Jk6q
	9TvEo9j8jIFNTBJAfh3+CUEWN5oakOxHiq7ErGwXUqA97ibb+EqnLOpn7waQLeoQB3/X
	kxo97sU87hn0fG3uTiTEolxmsL9MLhKqwB4TOrKPttME8i5ewJHddbk/oxVVmq+dnVYs
	X5AXt+KZeXpecZ2q+LVq4sOqVRPIKfUF/+q2UzuTR7ya8qF3McDx+/gH
	</data>
	<key>adjustmentEditorBundleID</key>
	<string>com.apple.mobileslideshow</string>
	<key>adjustmentFormatIdentifier</key>
	<string>com.apple.photo</string>
	<key>adjustmentFormatVersion</key>
	<string>1.4</string>
	<key>adjustmentTimestamp</key>
	<date>2021-11-23T19:29:15Z</date>
</dict>
</plist>
