<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>adjustmentBaseVersion</key>
	<integer>0</integer>
	<key>adjustmentData</key>
	<data>
	PY47C8IwFIX/y5kz9BEVsrrooqCggzjcmmgjTVOS2y6l/93Uitvh47xGOMOkiQlqhKPI
	JuyMfdUMJbOyED92tZprqDIrpIAP1rRMbH0LtZ4Enj444osJ8YtygWHR+/bp5+Kqt40+
	9K4yAQr5ZruSEKCu+2cgy0TiozaOTmawC80EuoZ47k8WezwjrZF+95FduhChbvfpAw==
	</data>
	<key>adjustmentEditorBundleID</key>
	<string>com.apple.mobileslideshow</string>
	<key>adjustmentFormatIdentifier</key>
	<string>com.apple.photo</string>
	<key>adjustmentFormatVersion</key>
	<string>1.4</string>
	<key>adjustmentTimestamp</key>
	<date>2021-11-23T19:30:36Z</date>
</dict>
</plist>
