<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>adjustmentBaseVersion</key>
	<integer>0</integer>
	<key>adjustmentData</key>
	<data>
	bZA/T8MwEMW/y80mSkJIwRuw0IVKIMGAGK7NJTGK7ci+tFRVvzuXpK06sJ3e/XvvdwBL
	jBUygj6AxcgUXsg0LYPOF7e5OmmfpuJWpLS4V+CDIcfIxjvQ2VFB7YNF/qAQZ0nBdq6X
	rvbj4fVguup1sGsKoCF7eFoUoAD7/rIDRZYnaZLlqTTipiWLb7Q1czNV0HfI4xuZNKt3
	kKdY/QyRrTiJoL8O/5ggh+uOKtAcBpKrxGxcE0dDe9xNZyVKYxx2z8H3oGvsogz+riZV
	4uYyEi0GvvR2M4iszO8U7M+DZSlYIgccyZF7dE1HoG9kGwf2l+X2RDYrylLBxrtpxfGZ
	eHotnpCP2Q1vxkpCm0rymtpMHCfTZ/rL687G20TodpT0rRcDx+/jHw==
	</data>
	<key>adjustmentEditorBundleID</key>
	<string>com.apple.mobileslideshow</string>
	<key>adjustmentFormatIdentifier</key>
	<string>com.apple.photo</string>
	<key>adjustmentFormatVersion</key>
	<string>1.4</string>
	<key>adjustmentTimestamp</key>
	<date>2021-11-23T19:29:13Z</date>
</dict>
</plist>
