<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>adjustmentBaseVersion</key>
	<integer>0</integer>
	<key>adjustmentData</key>
	<data>
	YnBsaXN0MDDUAQIDBAUGGBlYJHZlcnNpb25YJG9iamVjdHNZJGFyY2hpdmVyVCR0b3AS
	AAGGoKUHCA8QEVUkbnVsbNMJCgsMDQ5fEBNDcm9wSW5mb0N1cnJlbnRSZWN0ViRjbGFz
	c18QEUNyb3BJbmZvVG90YWxTaXplgAOABIACWnszNzUsIDY2N31fEBh7ezAsIDEzOS41
	fSwgezM3NSwgMzY0fX3SEhMUFVokY2xhc3NuYW1lWCRjbGFzc2VzXxAdU1NTU2NyZWVu
	c2hvdE1vZGlmaWNhdGlvbkluZm+iFhdfEB1TU1NTY3JlZW5zaG90TW9kaWZpY2F0aW9u
	SW5mb1hOU09iamVjdF8QD05TS2V5ZWRBcmNoaXZlctEaG1Ryb290gAEACAARABoAIwAt
	ADIANwA9AEMASgBgAGcAewB9AH8AgQCMAKcArAC3AMAA4ADjAQMBDAEeASEBJgAAAAAA
	AAIBAAAAAAAAABwAAAAAAAAAAAAAAAAAAAEo
	</data>
	<key>adjustmentEditorBundleID</key>
	<string></string>
	<key>adjustmentFormatIdentifier</key>
	<string>ScreenshotServices</string>
	<key>adjustmentFormatVersion</key>
	<string>1.0</string>
	<key>adjustmentTimestamp</key>
	<date>2021-11-23T19:30:46Z</date>
</dict>
</plist>
