<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>adjustmentBaseVersion</key>
	<integer>0</integer>
	<key>adjustmentData</key>
	<data>
	tVBNT4QwEP0vc64GWJaP3oyJ0YubaKIH46EsszCGFtIOq2bDf3cAVy9evTXvvb6POYFF
	NrVhA/oE1gRGf4vUtAw6TopIfWPPVHMLuswE6T2hY8PUOxFNCg69t4af0IcVUnBc33fu
	0M++1UhdfT/aCj1oiNObogQFZhh+/kC6ESTsW7TmAY+0ohI2dIZnf5HQ7hEkzdRvY2Ar
	FQLol9Mf6ehM1WENmv2I4orM5JowNwnszbwO3ZVrOgR9EV1GWZ5t4m20TZMyT9M8UfCx
	89SQuG1KBe/r9qIQoj3fJs4zBZ9n2TaRYlRLJzrQMvLa98O8ceTlAvvRe2GFWJBf4v8K
	TdPr9AU=
	</data>
	<key>adjustmentEditorBundleID</key>
	<string>com.apple.mobileslideshow</string>
	<key>adjustmentFormatIdentifier</key>
	<string>com.apple.photo</string>
	<key>adjustmentFormatVersion</key>
	<string>1.2</string>
	<key>adjustmentTimestamp</key>
	<date>2021-11-23T19:30:50Z</date>
</dict>
</plist>
