<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>adjustmentBaseVersion</key>
	<integer>0</integer>
	<key>adjustmentData</key>
	<data>
	bVBBboMwEPzLnl0EDhKJb20vzaWRWqk9VD1sYAFX2Eb2kjRC+XsNJFEOva1mZ3ZnZgRD
	jBUyghrBYGDyL6SblkHJYiXFBfvUFbcRSvO1AOc1WUbWzoLKzgJq5w3yB/mwQAIOy7y1
	tZsO7wfdVa+D2ZMHBdnmqchBAPb9TQN5JpM0yWQaF6FsyeAbHfSyTAX0HfL0JjL17h3i
	U6x+hsAmOgmgvsZ/TJDFfUcVKPYDxavErG0TJkMnPM5nY5RGW+yevetB1diFSPzdzSio
	IjKCQc+31XHpIdvIXMDpypNyFYnscSqO7KNtOgL1ENU4sLuJ20ux2VoWAkpnZ4nla+Hp
	PXhpfIquuZymmFlXMa6u9Vzj7Pla/vZ+UzqTxHI7SvrWRQPn7/Mf
	</data>
	<key>adjustmentEditorBundleID</key>
	<string>com.apple.mobileslideshow</string>
	<key>adjustmentFormatIdentifier</key>
	<string>com.apple.photo</string>
	<key>adjustmentFormatVersion</key>
	<string>1.4</string>
	<key>adjustmentTimestamp</key>
	<date>2021-11-23T19:29:13Z</date>
</dict>
</plist>
