<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>adjustmentBaseVersion</key>
	<integer>0</integer>
	<key>adjustmentData</key>
	<data>
	YnBsaXN0MDDUAQIDBAUGGBlYJHZlcnNpb25YJG9iamVjdHNZJGFyY2hpdmVyVCR0b3AS
	AAGGoKUHCA8QEVUkbnVsbNMJCgsMDQ5fEBNDcm9wSW5mb0N1cnJlbnRSZWN0ViRjbGFz
	c18QEUNyb3BJbmZvVG90YWxTaXplgAOABIACW3sxMDI0LCA3Njh9XxAbe3swLCAxMzEu
	NX0sIHsxMDA2LjUsIDM1OX190hITFBVaJGNsYXNzbmFtZVgkY2xhc3Nlc18QHVNTU1Nj
	cmVlbnNob3RNb2RpZmljYXRpb25JbmZvohYXXxAdU1NTU2NyZWVuc2hvdE1vZGlmaWNh
	dGlvbkluZm9YTlNPYmplY3RfEA9OU0tleWVkQXJjaGl2ZXLRGhtUcm9vdIABAAgAEQAa
	ACMALQAyADcAPQBDAEoAYABnAHsAfQB/AIEAjQCrALAAuwDEAOQA5wEHARABIgElASoA
	AAAAAAACAQAAAAAAAAAcAAAAAAAAAAAAAAAAAAABLA==
	</data>
	<key>adjustmentEditorBundleID</key>
	<string></string>
	<key>adjustmentFormatIdentifier</key>
	<string>ScreenshotServices</string>
	<key>adjustmentFormatVersion</key>
	<string>1.0</string>
	<key>adjustmentTimestamp</key>
	<date>2021-11-23T19:30:49Z</date>
</dict>
</plist>
