<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>adjustmentBaseVersion</key>
	<integer>0</integer>
	<key>adjustmentData</key>
	<data>
	bVBNT4QwEP0vc24ILYUFbsbE6MVNNNGD8VBkFsZAIe2wagj/3cLinrxN3rx5HzNDj2xq
	wwbKGXrjGd09UtMylErrXOzYK9Xc/kGDI7RsmAYLZbYIOA2uN/yCzm+QFHC+zA/2NKzC
	1URd/Tj1FTooQeq7vAABZhyvN6CTgPiPFnvzhGe6oLGAsTO86gcKHZ8huJn6c/Lchwge
	yrf5H3e0puqwhpLdhEEVmck2fk3i2Zm1Htob23S4WXwfHTUUTlWsIpkqeUgKmcQ6SQV8
	7cWVTqNcH3KVxXlWpAcB7f4mWeRptLL3bVj9XAWlilZ6touG9FSH4HSi7RO3bhhheV9+
	AQ==
	</data>
	<key>adjustmentEditorBundleID</key>
	<string>com.apple.mobileslideshow</string>
	<key>adjustmentFormatIdentifier</key>
	<string>com.apple.photo</string>
	<key>adjustmentFormatVersion</key>
	<string>1.2</string>
	<key>adjustmentTimestamp</key>
	<date>2021-11-23T19:30:50Z</date>
</dict>
</plist>
