<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>adjustmentBaseVersion</key>
	<integer>0</integer>
	<key>adjustmentData</key>
	<data>
	bZDLboNADEX/xWuKgJBHZ5d202waqZXaRdWFAwamYmbQjEkaRfn3GkiiLLqz/LjX95zA
	EGOJjKBOYDAw+RfSdcOg0tksjy69T11yA2o5TyJwXpNlZO2sLJ0jqJw3yB/kw9SKYD/V
	G1u5QXfX67Z87c2OPChIH5+WOUSAXXe7gTzN4iROs0QGoWjI4Bvt9TQUz65FHmxkU2/f
	QUyx/OkDG/kkgPo6/fMEWdy1VIJi35OoErO2dRgeOuJhlJUotbbYPnvXgaqwDbL4ux27
	oPJMrgx6vo0OE4bFYh7B8bo2y8QssMcBG9m1rVsC9SDy2LO73TYXrKt8FUHh7Hhh+Uo7
	uW9ecA/BNRdDJYl1KWF1pUeI48dX9Jv7SeFMLGhbirvGif/5+/wH
	</data>
	<key>adjustmentEditorBundleID</key>
	<string>com.apple.mobileslideshow</string>
	<key>adjustmentFormatIdentifier</key>
	<string>com.apple.photo</string>
	<key>adjustmentFormatVersion</key>
	<string>1.4</string>
	<key>adjustmentTimestamp</key>
	<date>2021-11-23T19:29:00Z</date>
</dict>
</plist>
