<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>adjustmentBaseVersion</key>
	<integer>0</integer>
	<key>adjustmentData</key>
	<data>
	YnBsaXN0MDDUAQIDBAUGGBlYJHZlcnNpb25YJG9iamVjdHNZJGFyY2hpdmVyVCR0b3AS
	AAGGoKUHCA8QEVUkbnVsbNMJCgsMDQ5fEBNDcm9wSW5mb0N1cnJlbnRSZWN0ViRjbGFz
	c18QEUNyb3BJbmZvVG90YWxTaXplgAOABIACW3s3NjgsIDEwMjR9XxAce3sxMDUuNSwg
	MTgzfSwgezU1Ni41LCA0MDR9fdISExQVWiRjbGFzc25hbWVYJGNsYXNzZXNfEB1TU1NT
	Y3JlZW5zaG90TW9kaWZpY2F0aW9uSW5mb6IWF18QHVNTU1NjcmVlbnNob3RNb2RpZmlj
	YXRpb25JbmZvWE5TT2JqZWN0XxAPTlNLZXllZEFyY2hpdmVy0RobVHJvb3SAAQAIABEA
	GgAjAC0AMgA3AD0AQwBKAGAAZwB7AH0AfwCBAI0ArACxALwAxQDlAOgBCAERASMBJgEr
	AAAAAAAAAgEAAAAAAAAAHAAAAAAAAAAAAAAAAAAAAS0=
	</data>
	<key>adjustmentEditorBundleID</key>
	<string></string>
	<key>adjustmentFormatIdentifier</key>
	<string>ScreenshotServices</string>
	<key>adjustmentFormatVersion</key>
	<string>1.0</string>
	<key>adjustmentTimestamp</key>
	<date>2021-11-23T19:30:49Z</date>
</dict>
</plist>
