<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>adjustmentBaseVersion</key>
	<integer>0</integer>
	<key>adjustmentData</key>
	<data>
	bZBPT8MwDMW/i8+l6p9JZbkBF3ZhEkhwQBy81m2DmqRK3I1p2nfHabeJAzfLz35+/p3A
	EGODjKBOYDAw+WfSXc+gyqxYJZfeh264B7XKyiIB5zVZRtbOgsrPCbTOG+R38mFpJbBf
	6o1tXTTeTXpoXiazIw8K8vvHdQEJ4DjedqCs8iLN0iLPRAl1TwZfaa8XNUtgHJDjHRnV
	2zeQq9h8T4GNRAmgPk//pCCLu4EaUOwnEldi1rYLMdERD7Ot/NJpi8OTdyOoFocggz/b
	uSsIVuISDHq+aYeFRFlUVQLH62BerNcyyR4jO7IPthsI1J1cwIndbbu/sM2ryLZ2dl6x
	fGWe/W1eoMfnNdexkq91Iw/rVs8k59RX/pu/Su1MKnwHSsfeSYDz1/kX
	</data>
	<key>adjustmentEditorBundleID</key>
	<string>com.apple.camera</string>
	<key>adjustmentFormatIdentifier</key>
	<string>com.apple.photo</string>
	<key>adjustmentFormatVersion</key>
	<string>1.4</string>
	<key>adjustmentTimestamp</key>
	<date>2021-11-23T19:29:59Z</date>
</dict>
</plist>
