<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>adjustmentBaseVersion</key>
	<integer>0</integer>
	<key>adjustmentData</key>
	<data>
	bZDLTsNADEX/xetQ9RWKZocQEt1QCSRYIBZu4iRG84hmnJYq6r/jpA91wc46vva1bw+O
	BEsUBNODwyQUX4jrRsDMFtNpdmafXEqjaJYrCpHJCwoHr+iYQRWiQ/mgmE4og92pXvsq
	DIu3HdvytXNbimBgtnqe388hA2zb6xAsF0pS0ZDDN9rxiapba1EGA5Xw5h3UDsufLonT
	GxKYr/4fe/K4tVSCkdiRbiUR9nUaTjngflyrT9Ts0T7F0IKp0CYV/m5GOgqSwyjXzv42
	gMNFludzFUrEITHyj762BOZOJdhJuA4350RXy4cMiuDHCS+XoKe38Jz08DhLMVT6MZf6
	LFc8xjdefAl9fdspgptoppYmbRPU//h9/AM=
	</data>
	<key>adjustmentEditorBundleID</key>
	<string>com.apple.mobileslideshow</string>
	<key>adjustmentFormatIdentifier</key>
	<string>com.apple.photo</string>
	<key>adjustmentFormatVersion</key>
	<string>1.4</string>
	<key>adjustmentTimestamp</key>
	<date>2021-11-23T19:30:28Z</date>
</dict>
</plist>
