<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>adjustmentBaseVersion</key>
	<integer>0</integer>
	<key>adjustmentData</key>
	<data>
	bVDLTsNADPwXn0OUpEWFvVEu9EIlkOCAOLiJkyzaR7TrtFRR/x0nTaseuFkzY3tmBrDE
	WCEjqAEsRqbwQrppGVS+WCyTGfvUFbegVvdZAj5ocoysvRPRKYHaB4v8QSGeoQT253nj
	aj/e3fXaVK+93VEABfnjerWEBLDrrjuwzIs0S/MiEyKWLVl8o70+k/KzM8jjG1Hq7TvI
	U6x++shWnERQX8M/JsjhzlAFikNPcpWYtWviaOiIh+msRGm0Q/McfAeqRhNF+Lud0EkQ
	LQa+MoebFo4X1SIvRMcBx9bIPbnGEKg7kWDP/rrbzq0+FCIvvZs2HF/Kzm7Bue0xt+Zy
	nCSwriSrrvXU4WT40vzmlim9TaVZQ2nXevl/+j79AQ==
	</data>
	<key>adjustmentEditorBundleID</key>
	<string>com.apple.mobileslideshow</string>
	<key>adjustmentFormatIdentifier</key>
	<string>com.apple.photo</string>
	<key>adjustmentFormatVersion</key>
	<string>1.4</string>
	<key>adjustmentTimestamp</key>
	<date>2021-11-23T19:29:13Z</date>
</dict>
</plist>
