<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>adjustmentBaseVersion</key>
	<integer>0</integer>
	<key>adjustmentData</key>
	<data>
	bVBLT8MwDP4vPkdTX9tYbmgc4MIkkOCAOLjEbY2atErcAar630nXgYaET9Zn+3t4BEuC
	BgVBj2AxCPlb4roR0FmWXKkz9sxGGtBpVmQKOs/kBIU7F6FJQdV5i/JEPiyQguPS37mq
	m4nLgVtzP9iSPGhIi5tsCwqw739voMgjEt4asvhAR17QREHfosz8cYUPjxDV0LwPQWy0
	EEC/jP+ok8OyJQNa/ECRlUTY1WF2EsTjHI/ctatbOkl8HjzXPJ+utwo+lqi7ZLPaXFSc
	NOfHpOssWf0dff1Q5MVulV9U9MsmWuWKT9n3vuthep2+AQ==
	</data>
	<key>adjustmentEditorBundleID</key>
	<string>com.apple.mobileslideshow</string>
	<key>adjustmentFormatIdentifier</key>
	<string>com.apple.photo</string>
	<key>adjustmentFormatVersion</key>
	<string>1.2</string>
	<key>adjustmentTimestamp</key>
	<date>2021-11-23T19:30:51Z</date>
</dict>
</plist>
