<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>adjustmentBaseVersion</key>
	<integer>0</integer>
	<key>adjustmentData</key>
	<data>
	bZA/T8MwEMW/y80hsttCizdgoQuVQIIBMVyTS2IU25F9aamqfncuSVsxsJ3e/XvvdwRH
	jCUygjmCw8QUn8nWDYOZLeez7Kx92JIbkdRilUGIljwj2+DB6FMGVYgO+Z1imqQMdlO9
	9lUYDm9725YvvdtSBAP6/nG5gAyw6647sNCzXOV6pqSRioYcvtLOTk2VQdciD29k0m7e
	QJ5i+d0nduIkgfk8/mOCPG5bKsFw7EmuErP1dRoMHXA/npUotfXYPsXQgamwTTL4sxlV
	iavnsuYw8rW3n0DoOyUgDpdBrW7lX+KIAzryD75uCcyNfMCew3W7OaPVaiXzRfDjiucL
	cvVXPDMfwlsuhkpS21IC28qOIEfXF/zrv50iuFzwtpR3TRADp6/TLw==
	</data>
	<key>adjustmentEditorBundleID</key>
	<string>com.apple.mobileslideshow</string>
	<key>adjustmentFormatIdentifier</key>
	<string>com.apple.photo</string>
	<key>adjustmentFormatVersion</key>
	<string>1.4</string>
	<key>adjustmentTimestamp</key>
	<date>2021-11-23T19:29:13Z</date>
</dict>
</plist>
