<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>adjustmentBaseVersion</key>
	<integer>0</integer>
	<key>adjustmentData</key>
	<data>
	bZBNS8QwEIb/y5zDsk3ruuYmgujFBQU9iIepmbYjTVqS6aqU/nfT7a4f4JzCw8z7kREc
	CVoUBDOCwygUbojrRsBovd6qI3tiKw2YTBdaQReYvKBw5xOaFFRdcCiPFOKCFOyX962v
	ulm4HLi1d4MrKYCBrLjeXoAC7PvvGyjyROJrQw7vac8LXSvoW5RZP63w7gGSG9q3IYpL
	ESKY5/Efd/JYtmTBSBgoqZII+zrOSaIEnOuRv/R1SweLj13gmhe791PRPFvlv0ZBc/yW
	bFOcrTY/c67g8ySQ6/zPVUrLNgXlig/Nr0LXw/QyfQE=
	</data>
	<key>adjustmentEditorBundleID</key>
	<string>com.apple.mobileslideshow</string>
	<key>adjustmentFormatIdentifier</key>
	<string>com.apple.photo</string>
	<key>adjustmentFormatVersion</key>
	<string>1.2</string>
	<key>adjustmentTimestamp</key>
	<date>2021-11-23T19:30:50Z</date>
</dict>
</plist>
