<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>adjustmentBaseVersion</key>
	<integer>0</integer>
	<key>adjustmentData</key>
	<data>
	PY47C8IwFIX/y5kz9CVCVhddFBR0EIdbc7WRpinJbZfS/25Kxe3wcV4THAsZEoKe4CgK
	hz3bdyPQZVZU6sdu1kgDXWVloeCD5U5IrO+g81nh5YMjuXKIK1IYV33oXn4prgfbmuPg
	ag7QyLe7TQUF6vt/BlWZSHw27OjMo11pptC3JEt/stjTBWmNzGeI4tKFCH1/zF8=
	</data>
	<key>adjustmentEditorBundleID</key>
	<string>com.apple.mobileslideshow</string>
	<key>adjustmentFormatIdentifier</key>
	<string>com.apple.photo</string>
	<key>adjustmentFormatVersion</key>
	<string>1.4</string>
	<key>adjustmentTimestamp</key>
	<date>2021-11-23T19:30:36Z</date>
</dict>
</plist>
