<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>adjustmentBaseVersion</key>
	<integer>0</integer>
	<key>adjustmentData</key>
	<data>
	bVDLTsNADPwXn0OVtgGivSEkRC9UAgkOiIOTOMmifUS7TksV9d9xkrb0wM0az4zHM4Al
	xgoZQQ1gMTKFZ9JNy6CWt+u75IR96IpbUKs0yxPwQZNjZO2dsI4J1D5Y5HcKcYYS2M3z
	xtV+NC56baqX3hYUQMHy/ilPIQHsuosGsrUgsWzJ4ivt9IymCXQGefQXit6+gVzD6ruP
	bCVCBPU5/HOdHBaGKlAcehJXYtauiWOSA+4nW/mh0Q7NY/AdqBpNFOLPdkJB5ZmoLAa+
	rPZzAcs8F/HhzFsJjQOOfZF7cI0hUDdCwJ79Rdr+9Sm2pXeTxPG55/QaPBU9Pq65HCf5
	WFfyrK711N6U+Nz55npTeruQTg0tutZLgOPX8Rc=
	</data>
	<key>adjustmentEditorBundleID</key>
	<string>com.apple.mobileslideshow</string>
	<key>adjustmentFormatIdentifier</key>
	<string>com.apple.photo</string>
	<key>adjustmentFormatVersion</key>
	<string>1.4</string>
	<key>adjustmentTimestamp</key>
	<date>2021-11-23T19:30:23Z</date>
</dict>
</plist>
