<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>adjustmentBaseVersion</key>
	<integer>0</integer>
	<key>adjustmentData</key>
	<data>
	bVBNS8QwEP0vcw7S2tZdc5MF2b24oKAH8TA103akSUoyXZXS/266XT15Gx7vcyawJGhQ
	EPQEFqNQ2BO3nYDOq+JGXbAXNtKBvs7KrQIfmJygsHeJNStofLAozxTiCik4rffBNX4x
	rkfuzcNoawqgIS/vt7egAIfhTwNlkZD43pHFRzrximYKhh5l8U8UPj5BSkPzMUaxqUIE
	/Tr9k04O654MaAkjJVcSYdfGpUmUgMs8cneu7ekc8XUM3PIizdLgz3Vqvimqq0pBd/nG
	Jk/M719mkWWpCZtUghs+r9oFP8D8Nv8A
	</data>
	<key>adjustmentEditorBundleID</key>
	<string>com.apple.mobileslideshow</string>
	<key>adjustmentFormatIdentifier</key>
	<string>com.apple.photo</string>
	<key>adjustmentFormatVersion</key>
	<string>1.2</string>
	<key>adjustmentTimestamp</key>
	<date>2021-11-23T19:30:50Z</date>
</dict>
</plist>
