<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>adjustmentBaseVersion</key>
	<integer>0</integer>
	<key>adjustmentData</key>
	<data>
	tVdZj6PMFf0vfu3ONMVmGCkPrAYM2IBZ03nAgNkXAzbYn+a/p7C7Z3pGURRFCrKEqbp1
	6tx7ThXFX6s6GcM4HMPV979WdTiMSS8leZqNq+84gqGvH21uHo/Z6juGoPjrqu3zpBnD
	MW+b1Xfyx+vq1PZ1ODpJPzyawOvq+vwvN6d2AT5e8irWL/Ux6VffV4BmMJxcva7Crvs5
	aIUj6DfiG8AR2DFEWVKHZnLNn53I66qrwnGZB0bmO2sFZw3j4jKMNaQyrL7/469/wyJp
	wmOVxKvvp7AaEgibjGPepMNCqT2d4KMVjpf+IxM4Sd50l5Frq7Z/PA5LksOYR48RQzju
	kz6C8+VVQlMw4htFPq41TgKMJlASFue3qM1HGIHQFIIjAMFogGLEn2FrYokiYQ9K4xiO
	IjhAAEE+opjL2DphdUmWEIA9LpTAKBLB19hS/GciHJTpwfnjsW3G/rMphBAfNYDxebxM
	esofUlh12H8k/Cmj/LU/autvUKUq+dZlLUT58fof6zz2lz/KfAunJ60+T/MmrLi+7X7q
	Me8erRCDQtZw3ELmZ+f0tBwKr9fV7TOSQqhFlz5cPJo0TJNWsDJ/+z3L11X24WEUoWBX
	1DaPIc346e3fGj/MvZgsH6Pl359lerD+/xTow4dZGLfT8MuE6k+ezwAJPldL2/ClUW2j
	sPqM/IZhJPhyIdhnmDB37XDpky8j2X4Z1STDVzi2CqNy38KK/Bv3dwi6TIJAC6PQmxSJ
	rvGHreE0HYEsfSi+RgiKetoYgDX1FOWXe2ka/r5cr6uxhZ4wwyb9tDeFEoAiMQKCo2so
	/PErp2V2QK9JAu4SGEFTKFgTcHb0sXyQn4Q+Cb6uHhXTwu5Tdgxq0T3X5Jr8ne2X6M/N
	DgZXS4V/W4L4mvgtB+rXOOaaQkfsN8bfV78aYYtZZZoPnJvfimOBbcKYZGkUvx/9YxYX
	YHzR4xTsD/6LfkCwFA1FXbBvu7tMafxw3d3Wp+N4K1GSdyuaM2f5RmWjKTpIl9ib+QS3
	SSXEiVvd1OWJvGyuVUU4WAnC4oF33/M6quHCJbwN922hdZpVXrcc1ULXXLdxHiBdYxdQ
	+bFUDpYIdgEYMb+hm6wmD7HSYU0rsWWsRHfXZXycgXgCofHRqHPlpORtoeRyJd/8Usm1
	RuEie5vJV8HArWyDhoYbS4E9Fg4mJgnqcqE/XyvJzU5UHQC/3we4Wad380Ut7F6zolG+
	lanC4ieZpVKZFTLBmPbcRCn8VO45g9JO2+z9rceT97dgUI4tIH2f0CHT2yE6JwwSXI+h
	RrdZVW8cXLgm+TApVpuFTq07CpPoKR7xabnjGEriU3/HprjMT9mlLc+NtY3wKxhpP7q4
	qHKN8ws7A6JJm3FMis1lByvcZFVGq9XUmcjLJjpXpzKPa96IdJZBpMc9RUTe8HX/EONa
	Ud53d4bSR5HDXL4KEr1F3aIsLsoEPM6IZLqpspuzkUYtEpTIwAgzL9iSt/0FR+ANG/JD
	NvCus7OyFw8ysr87jCYwuFnQhikGQoTUkoN3ZbPZHhyiqxo28UWGOkBJZ9NFXo758P4m
	IvYHMUNnDRwmHu3YiZIEpjX4Q7fZ2wM4HAjPdFnJL+PBlYGYOTs/3MZ2N/uhkDEWbzK5
	KgrYsdpxVjPp3ices9wXPIj7lEjZ2yNr8/HeEmcjdLLbQSLcnAfUgaz6HqYopIjJM9RO
	5AXkYNG15QXHEyB53ot085m4/hQm3UOhFN7IGFswvV0V7AInmDxsFlPhIu19EW6y3CSg
	g8WzsibykasfQKltYnXt3CRXVqrWBle1xnXeWAoZ7bmM2fJTq7OI7lrORLuVeXWxrMjd
	HcUTgpOI3N0/poYyy5qQTpZoGpjhmuyJB3fLG+3UDR33rFiRAUJoIMgPCp/CvCdcNsGs
	+QXduE2Wp3Wti/ikcfczZ0rzJr+PjYDixj5jHIHTpYCncVsX3t9SW6TsNtBKZL7yTrok
	DgsJC5pSWz6t9EDULyYkCB1uHbvBiFIk3bsDGfKuoZEp5ZnMRWD9ow04cde09Np21juU
	leJSKbfOAAVa8B6FXITXOYGunJqWT5t8GykmaFgu4XOCCzjCUjcy0eWxxueTLt2d9SE0
	+tYiNHMTCP69ix/8noLr7LQ4fnHqIBzQwD4KzjrAg7GoX1yTFAylyFzNd6T8bl6Fw2Rs
	jUkTcbuzrBHRPILJU9DxjK0xE8JDI8H7JHwYiucm3QxAMLsNaHOXNCFPvOVeCpGg03Pp
	WoIxWNzMqLxR7lTLOEulliV3sRdzBhp8guNllUkHjmc0iDtw3ATvQBldycxS96JFXXCv
	vSROQp0v0U1qSlDoWTYgrsllpq87cq7PTiDc8L2a4g0crzLGgrPgTjzEVSHu+5uzIYK4
	toRjx94qzA0SBVBj8/4GXd2J5xv7InGpJbFCJJSCpk3IjcdTLborriCUS+X4B/JPptD6
	nmkfkQ4L2uBaejsvJka8aW5V2lsc5e5xr1P2p5s4wJOAJk4T98EEkcrS3BmU+lDEeO5B
	n3uHC4LJ9II6q1/MqHPQRqqT5LxlBvtlgHhFi7zstGZIjAcfWYXjFCWMlabIFQHIxoZl
	NH4aHksbLnG41EHoNKwQo7kSKcq9wpIoObNkK28m61wdy7mbZCB0u2zouVleKidyU2tN
	8vubfIpMM77TtVxqlpvSEj8LOg8tpQvAi0qFCNpxrjwXJj4TrXROTz2rnfJ6u6+EzOYE
	VLZaT2UGDxLVuuxS8Uikjg569FqdT8Sz6REDmczDXbjLVuDEuOF15wLbBXFQYY10PiVn
	Eb4+hAuntymwLW29JYXEZPF5UwiqlllAerx7hNgJ2bpwt6qjjHWFmLh8sOEeZERuwAo1
	Ct+LIYtdsIZJeoLupBf8QAViLm4DSUo7L6+OUs0EijHwvIIfJXaKxAxXq+p8CXAQZEIG
	tpXmKrDSfEWr+QbFom7Erh6mpVFMTzjXZCq3vdZHfUd1XFklsuaVqmcMLNzu/BMb9xs2
	9TbMaHJYlsA3vWTUk7eZKBMqr7Lgtj12Ot555+IUhsy5OffpmZRGec1Uw/lwQwtGItK9
	xjzwoEKjxQFjb2Wsz91aVTQuikvq2tGgez5F9E2KwLVDFGX5kiRbJ7x6+6N/Uqi1hPVp
	kiukfx/jGBxBXuTc5C+KP3B5Y1Q4ZFBZYzCgYPoAjwAuzpqnXEeVQqnW2AFP9iKJY/2U
	JPBgiGG7TN1KY4tSRX8zrt32/a2M4IbOLItPUDmTufJzqsM3SMwzxrJ0xJhyzMqBWwuW
	4qGY635Hv7+d2y1yUrOXGefVlE4kvL3XpcaZU7fnqsFy7qaZ8sa0rB2Wu8mxxsyYYNk6
	x0xHkafQufH4gzSq4YGOwjMdnwE5ZP1WGdGGOR67Ft2EeBjrZwy8v/HOKOq3O6Zruu3d
	U8rlGb+2LULngbzfzhql2j5hFpmokUBrkK7eV+1yOJyyfEw+TrXgjzP1ckQFyPO0u6Zw
	DGBrlMBpBNDk8pEE3y/ZNrk9PhgpBJ7zCRSeg0lqOcT++J8+/w5tk/yXHzf//PEv
	</data>
	<key>adjustmentEditorBundleID</key>
	<string>com.apple.mobileslideshow</string>
	<key>adjustmentFormatIdentifier</key>
	<string>com.apple.photo</string>
	<key>adjustmentFormatVersion</key>
	<string>1.5</string>
	<key>adjustmentTimestamp</key>
	<date>2021-11-23T19:29:20Z</date>
</dict>
</plist>
