<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>adjustmentBaseVersion</key>
	<integer>0</integer>
	<key>adjustmentData</key>
	<data>
	bZDLasNADEX/RWvX2HVCyuxKITSbBlpoF6ULxZbtKfMwM3LSEPLv1TgPUuhOSPdKuucA
	lhgbZAR1AIuRKTyT7noGVVbVLDv3PnTDPajFvMjAB02OkbV3Ijpm0Ppgkd8pxFMrg+2p
	XrnWp72bUZvmZbQbCqCgfFgu7iEDHIarB6p5kRd5WRYyiHVPFl9pq09DuTkY5HRGlHr9
	BnIUm+8xspVPIqjPwz9PkMONoQYUh5FkKzFr18X00B5301qJ0mmH5in4AVSLJorwZz11
	J0G0GPg62d1Q2F9Us9lcdBwwUSP36DpDoO5EgiP7q7c/U62SufZucji+wP7TPNNOuTXX
	qZLAupGsutUTw+nhC/nV7aT2NheyhvKh93L/+HX8BQ==
	</data>
	<key>adjustmentEditorBundleID</key>
	<string>com.apple.mobileslideshow</string>
	<key>adjustmentFormatIdentifier</key>
	<string>com.apple.photo</string>
	<key>adjustmentFormatVersion</key>
	<string>1.4</string>
	<key>adjustmentTimestamp</key>
	<date>2021-11-23T19:29:25Z</date>
</dict>
</plist>
