<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>adjustmentBaseVersion</key>
	<integer>0</integer>
	<key>adjustmentData</key>
	<data>
	bZDBTsMwEET/Zc9WlNhO6vqGKiG4UAkkOCAOLtkmixInsjcFVPXfcZq2J27WyPNmdo7Q
	I7vasQN7hN5FxvCA1LQMVmptxEV7o5pbsEpWWsAQCD07psGDLU4C9kPoHb9iiIsk4LC8
	H/1+mMG7ibr6aep3GMBCoe/NGgS4cbx5QKukxM8We/eMB1rUXMDYOZ756QttXyClufpr
	itynChHs+/GfdPRu12ENlsOEiYrM5Js4N4kc3Hwe+jvfdHiO+NkGaihZZZVnxUqtC5Vr
	pVdGCfheDpcml5k0a1OW+UrqeYX2MlNhqjIrq1JenQJ+r0Cly+xGk9W8FdWpOO3pvMQm
	DCOcPk5/
	</data>
	<key>adjustmentEditorBundleID</key>
	<string>com.apple.mobileslideshow</string>
	<key>adjustmentFormatIdentifier</key>
	<string>com.apple.photo</string>
	<key>adjustmentFormatVersion</key>
	<string>1.2</string>
	<key>adjustmentTimestamp</key>
	<date>2021-11-23T19:30:49Z</date>
</dict>
</plist>
