<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>adjustmentBaseVersion</key>
	<integer>0</integer>
	<key>adjustmentData</key>
	<data>
	bZDLTsMwEEX/ZdYmyquEeoeQEN1QCSRYIBbTZJIYxXZkT1qqqv+OkzRVF+xGc+dx7zmB
	JsYKGUGeQKNnci+kmpZBZnGai0vvU1XcgszjLBVgnSLDyMoakMlZQG2dRv4g5+eWgP1c
	b0xtx8O7QXXV66B35EBCUjw/xCAA+/66A9l9nkZJGqXJKPmyJY1vtFezHAvoO+TxUZhV
	23cIb7H6GTzr4MWD/Dr9Y4MM7jqqQLIbKFwlZmUaP1o64mE6G8I0ymD35GwPssbOh8Hf
	7dQFuVqvw5pGx1ftMKPI4nUh4LgMJvkqDLLDkR2ZR9N0BPIuPMCB7XW5vbBNiyIcLq2Z
	VgwvzOPb5gX6mF1xOVYhtKpCXlWrieRkeuG/uVVKq6PAt6Oob20wcP4+/wE=
	</data>
	<key>adjustmentEditorBundleID</key>
	<string>com.apple.camera</string>
	<key>adjustmentFormatIdentifier</key>
	<string>com.apple.photo</string>
	<key>adjustmentFormatVersion</key>
	<string>1.4</string>
	<key>adjustmentTimestamp</key>
	<date>2021-11-23T19:30:25Z</date>
</dict>
</plist>
