<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>adjustmentBaseVersion</key>
	<integer>0</integer>
	<key>adjustmentData</key>
	<data>
	bY9BS8RADIX/S87D0t22K8xVEJeVXVHQg3jItuk20umUmbQgpf/dzK6KB09JPl7eS2Zw
	JFijINgZHEahcE98bgVskeUb881euZYWbJ5tCgM+MPWCwr4Hu10MND44lBcK8YLWBqZr
	v+sbn4xPI3f1YXQnCmBhfXNbFmAAh+F3B4pcSaxacvhEE19pZmDoUJK/Svj4DJqG9ccY
	xekJEezb/E96JBHuzzFFCztKdcJu1KYs1TOxWGGn8zbLFvXkWu244ct9DzzRY+vF7+nz
	LqDu/7y4+yurvFvpCx2thiSG5X35Ag==
	</data>
	<key>adjustmentEditorBundleID</key>
	<string>com.apple.mobileslideshow</string>
	<key>adjustmentFormatIdentifier</key>
	<string>com.apple.photo</string>
	<key>adjustmentFormatVersion</key>
	<string>1.4</string>
	<key>adjustmentTimestamp</key>
	<date>2021-11-23T19:30:36Z</date>
</dict>
</plist>
