<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>adjustmentBaseVersion</key>
	<integer>0</integer>
	<key>adjustmentData</key>
	<data>
	bZDNTsNADITfxecQJaFQ2BtwoRcqgQQHxMFNnGTR/kS7TktV9d1xkqYCqbfVjO2d+Q5g
	ibFCRlAHsBiZwjPppmVQxfK6SE7ah664FSlb3CXggybHyNo7UPkxgdoHi/xOIU5SAtvp
	vXK1Hw5vem2ql95uKICC/P5xuYAEsOvOO7DIizRL8yITI5YtWXylrZ7MLIHOIA/fyKRe
	v4F8itV3H9lKkgjq83AhBDncGKpAcehJrhKzdk0cAu1xN56VKo12aJ6C70DVaKIM/qxH
	Verm0jZaDHz2dhOI/DYXNvt58EbGOODAjdyDawyBupLz2LM/r7Yz12IpVunduOJ45v1P
	PAEfmmsuh5dU1pW01bUeKY6RZ/arv07pbSpsDaVd6yXA8ev4Cw==
	</data>
	<key>adjustmentEditorBundleID</key>
	<string>com.apple.mobileslideshow</string>
	<key>adjustmentFormatIdentifier</key>
	<string>com.apple.photo</string>
	<key>adjustmentFormatVersion</key>
	<string>1.4</string>
	<key>adjustmentTimestamp</key>
	<date>2021-11-23T19:29:13Z</date>
</dict>
</plist>
