<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>adjustmentBaseVersion</key>
	<integer>0</integer>
	<key>adjustmentData</key>
	<data>
	bVDLTsNADPwXn0OUkJbC3hAc6IVKIMEBcXATJ1m0j2jXaamq/jve9KEeuFkzY3tm9mCJ
	sUFGUHuwGJnCC+muZ1BlVc2yE/apG+5BLeZFBj5ocoysvRPRIYPWB4v8QSEeoQw2x3np
	Wp/urkdtmtfRrimAgvL+eVFABjgMlx2oqiIv8nKeiFj3ZPGNNvpIys/BIKc3otSrd5Cn
	2PyMka04iaC+9v+YIIdrQw0oDiPJVWLWrovJ0A6301mJ0mmH5in4AVSLJorwdzWhkyBa
	DHxhtlct7M6q24c70XHA1Bq5R9cZAnUjEhzZX3b7U6uL2TyD2rtpw/G57OIaPLWdcmuu
	0ySBdSNZdaunDifD5+aX10ztbS7NGsqH3sv/w/fhDw==
	</data>
	<key>adjustmentEditorBundleID</key>
	<string>com.apple.mobileslideshow</string>
	<key>adjustmentFormatIdentifier</key>
	<string>com.apple.photo</string>
	<key>adjustmentFormatVersion</key>
	<string>1.4</string>
	<key>adjustmentTimestamp</key>
	<date>2021-11-23T19:29:39Z</date>
</dict>
</plist>
