<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>adjustmentBaseVersion</key>
	<integer>0</integer>
	<key>adjustmentData</key>
	<data>
	bVBNS8NAEP0vc14kSROpexOh2EsLCnoQDxN3koxkd8PupCoh/91NY3vyNjze50xgSdCg
	IOgJLEah8EjcdgI6rza36g97ZSMd6CIrtwp8YHKCwt4l1qyg8cGivFCIK6TgtN571/jF
	uB65N4fR1hRAQ17utnegAIfhqoFyk5D40ZHFJzrximYKhh5l8U8UPj5DSkPzOUaxqUIE
	/Tb9k04O654MaAkjJVcSYdfGpUmUgMs8cveu7ekc8X0M3HKSFqWCr8vSrLqpFHSXZ+RV
	Yv5cmUWWmrBJJbjh86qH4AeY3+df
	</data>
	<key>adjustmentEditorBundleID</key>
	<string>com.apple.mobileslideshow</string>
	<key>adjustmentFormatIdentifier</key>
	<string>com.apple.photo</string>
	<key>adjustmentFormatVersion</key>
	<string>1.2</string>
	<key>adjustmentTimestamp</key>
	<date>2021-11-23T19:30:50Z</date>
</dict>
</plist>
