<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>adjustmentBaseVersion</key>
	<integer>0</integer>
	<key>adjustmentData</key>
	<data>
	bVBNT4RADP0vPU82MLBE5mY8qBc30UQPxkORAjXMQGbKqiH8dwdYPXlrX17fR2ewJFij
	IJgZLAYhf0fcdgImS3SuLtgL19KByZNMKxg8kxMUHhyYYlHQDN6iPJMPG5QqOO/zvWuG
	VbiauK8fJluRBwNpcZsmGhTgOP4dQZ5FJLx3ZPGRzryjiYKxR1kNIoVPTxDtsP6YgtiY
	IYB5nf+xJ4dVTzUY8RNFVRJh14Y1ShCPaz9y167tabP4OnluOZ6WaXk4Kvjc26ZFGbW6
	yzu0LuL2/UvVxdXhGMNwHXNww1uzGz+MsLwtPw==
	</data>
	<key>adjustmentEditorBundleID</key>
	<string>com.apple.mobileslideshow</string>
	<key>adjustmentFormatIdentifier</key>
	<string>com.apple.photo</string>
	<key>adjustmentFormatVersion</key>
	<string>1.4</string>
	<key>adjustmentTimestamp</key>
	<date>2021-11-23T19:30:47Z</date>
</dict>
</plist>
