<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>adjustmentBaseVersion</key>
	<integer>0</integer>
	<key>adjustmentData</key>
	<data>
	bVBBTsQwDPyLzxFqs+0CuaE9ABdWAgkOiINL3NaoTavEXUBV/07SLpy4eUZjz4xn6EnQ
	oiCYGXoMQv6OuGkFzC7ThTpzL2ylBVNkO61g8ExOUHhwYPaLgnrwPcoz+bBSuYLTNt+7
	ekiHq4k7+zD1FXkwkO9v80yDAhzHvyUodpEJ7y31+Egn3thMwdihJIMo4eMTRDu0H1OQ
	PmYIYF7nf+zJYdWRBSN+oniVRNg1IUUJ4jH1I3fjmo5Wi6+j54bTqr6+uigVfG518/JS
	J9ieP6J1Xib8/asvdBnzsI1RuOa13MEPIyxvyw8=
	</data>
	<key>adjustmentEditorBundleID</key>
	<string>com.apple.mobileslideshow</string>
	<key>adjustmentFormatIdentifier</key>
	<string>com.apple.photo</string>
	<key>adjustmentFormatVersion</key>
	<string>1.4</string>
	<key>adjustmentTimestamp</key>
	<date>2021-11-23T19:30:46Z</date>
</dict>
</plist>
