<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>adjustmentBaseVersion</key>
	<integer>0</integer>
	<key>adjustmentData</key>
	<data>
	bZDLbsJADEX/xes0ygMKzI52UzZFaqV2UXVhEieZKjMTzThQhPj3OgEiFt1Zftx7fU5g
	iLFERlAnMBiY/AvpumFQsyTPomvvU5fcgMqTbBaB85osI2tnQT2eI6icN8gf5MPYSiPY
	X+qNrdwgvOt1W772ZkceFKSrp8UMIsCum24gX6ZZnMZpksgkFA0ZfKO9vkyTCLoWefCR
	Vb19B3HF8qcPbCRKAPV1+icFWdy1VIJi35OoErO2dRgSHfEwysovtbbYPnvXgaqwDbL4
	ux27orFc5HJn0PM0PFxQpOlyHsFx2szFL7DHgR3Zta1bAvUgDtizm46bK9tsvhK2hbPj
	ieUb8+S+eYU+PK+5GCr5WpfysK70SHJMfeO/uZ8UzsTCt6W4a5wEOH+f/wA=
	</data>
	<key>adjustmentEditorBundleID</key>
	<string>com.apple.camera</string>
	<key>adjustmentFormatIdentifier</key>
	<string>com.apple.photo</string>
	<key>adjustmentFormatVersion</key>
	<string>1.4</string>
	<key>adjustmentTimestamp</key>
	<date>2021-11-23T19:29:16Z</date>
</dict>
</plist>
