<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>adjustmentBaseVersion</key>
	<integer>0</integer>
	<key>adjustmentData</key>
	<data>
	bZBBT8MwDIX/i89R1bTZkuaGEBJcmAQSHBCHjLqtUZtWiTtA0/476TrgwinRs/3eZx9h
	QHa1Ywf2CIOLjOEWqe0YbKGUERftmWruwJbFVgkYA6FnxzR6sPIkoBnD4PgJQ1wlAYf1
	f+ebcTHez9TX9/OwxwAWpLopcwUC3DT9DoEqkxLfOhzcAx5oVXMBU+94CUgttHuEFOfq
	9znykBgi2JfjP/Ho3b7HGiyHGZMrMpNv44ISObhlP/RXvu3xHPG5C9RSGtVllcnEVipt
	im1utICPdXNptM7K6q8ooLvcSaoiz6TcVOktTGVS6evHsNAmU/lGV1rmUqkq0VOdwKmh
	8ymuwzjB6fX0DQ==
	</data>
	<key>adjustmentEditorBundleID</key>
	<string>com.apple.mobileslideshow</string>
	<key>adjustmentFormatIdentifier</key>
	<string>com.apple.photo</string>
	<key>adjustmentFormatVersion</key>
	<string>1.2</string>
	<key>adjustmentTimestamp</key>
	<date>2021-11-23T19:30:51Z</date>
</dict>
</plist>
